<section class="articles">
    <div class="articles__content">
        <div class="page-top">
            <div class="breadcrumbs">
                <a href="#">
                    Главная</a>
                <a href="#" class="active">
                    Полезные статьи</a>
            </div>
            {{> sharing }}
        </div>

        <div class="articles__inner">
            <h1 class="articles__heading">
                Полезные статьи
            </h1>
            <div class="articles__row">
                <div class="articles__sidebar">
                    <div class="articles__sidebar-inner">


                        <form action="/" method="GET" class="articles__search">
                            <input type="text" class="articles__search-input" name="q" placeholder="Поиск">
                            <button class="articles__search-submit" type="submit">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="articles__categories">
                            <h3 class="articles__categories-title">
                                категории
                            </h3>
                            <ul class="articles__categories-list">
                                <li class="articles__categories-list-item">
                                    <a href="#" class="articles__categories-link active">
                                        Новости
                                    </a>
                                </li>
                                <li class="articles__categories-list-item">
                                    <a href="#" class="articles__categories-link">
                                        Статьи
                                    </a>
                                </li>
                                <li class="articles__categories-list-item">
                                    <a href="#" class="articles__categories-link">
                                        Рецепты
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="articles__read-also">
                            <h3 class="articles__read-also-heading">
                                Часто читаемые статьи
                            </h3>
                            <ul class="articles__read-also-list">
                                <li class="articles__read-also-list-item">
                                    <a href="#" class="articles__read-also-card">
                                        <div class="articles__read-also-card-image-container">
                                            <img src="/images/articles-read-also/1.webp" alt=""
                                                class="articles__read-also-card-image">
                                        </div>
                                        <div class="articles__read-also-card-row">
                                            <div class="articles__read-also-card-date">
                                                19 Ноября 2024
                                            </div>
                                            <div class="articles__read-also-card-views">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                    <use xlink:href="#eye"></use>
                                                </svg>
                                                213
                                            </div>
                                        </div>
                                        <h4 class="articles__read-also-card-title">
                                            Оперативная доставка еды в офис и на дом
                                        </h4>
                                        <div class="articles__read-also-card-text">
                                            Людям, живущим одним и большую часть времени проводящим вне дома, зачастую
                                            некогда готовить.
                                        </div>
                                    </a>
                                </li>
                                <li class="articles__read-also-list-item">
                                    <a href="#" class="articles__read-also-card">
                                        <div class="articles__read-also-card-image-container">
                                            <img src="/images/articles-read-also/2.webp" alt=""
                                                class="articles__read-also-card-image">
                                        </div>
                                        <div class="articles__read-also-card-row">
                                            <div class="articles__read-also-card-date">
                                                19 Ноября 2024
                                            </div>
                                            <div class="articles__read-also-card-views">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                    <use xlink:href="#eye"></use>
                                                </svg>
                                                213
                                            </div>
                                        </div>
                                        <h4 class="articles__read-also-card-title">
                                            Оперативная доставка еды в офис и на дом
                                        </h4>
                                        <div class="articles__read-also-card-text">
                                            Людям, живущим одним и большую часть времени проводящим вне дома, зачастую
                                            некогда готовить.
                                        </div>
                                    </a>
                                </li>
                                <li class="articles__read-also-list-item">
                                    <a href="#" class="articles__read-also-card">
                                        <div class="articles__read-also-card-image-container">
                                            <img src="/images/articles-read-also/3.webp" alt=""
                                                class="articles__read-also-card-image">
                                        </div>
                                        <div class="articles__read-also-card-row">
                                            <div class="articles__read-also-card-date">
                                                19 Ноября 2024
                                            </div>
                                            <div class="articles__read-also-card-views">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                    <use xlink:href="#eye"></use>
                                                </svg>
                                                213
                                            </div>
                                        </div>
                                        <h4 class="articles__read-also-card-title">
                                            Оперативная доставка еды в офис и на дом
                                        </h4>
                                        <div class="articles__read-also-card-text">
                                            Людям, живущим одним и большую часть времени проводящим вне дома, зачастую
                                            некогда готовить.
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="articles__main">
                    <ul class="articles__list">
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/1.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/2.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/3.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/4.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/1.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/5.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li>
                        {{!-- <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/2.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/3.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/1.webp" alt="" class="articles__card-image">
                                </div>
                                <div class="articles__card-row">
                                    <div class="articles__card-date">
                                        19 Ноября 2024
                                    </div>
                                    <div class="articles__card-views">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                        213
                                    </div>
                                </div>
                                <h3 class="articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                                <div class="articles__card-link">
                                    Подробнее
                                </div>
                            </a>
                        </li> --}}
                    </ul>
                    <div class="pagination">
                        <a href="#" class="pagination__prev">
                        </a>
                        <div class="pagination__links">
                            <a href="#" class="current">
                                1
                            </a>
                            <a href="#">
                                2
                            </a>
                            <a href="#">
                                3
                            </a>
                            <a href="#">
                                ...
                            </a>
                            <a href="#">
                                20
                            </a>
                        </div>
                        <a href="#" class="pagination__next">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>