<section class="article">
    <div class="article__content">
        <div class="page-top">
            <div class="breadcrumbs">
                <a href="#">
                    Главная</a>
                <a href="#">
                    Полезные статьи</a>
                <a href="#" class="active">
                    Название статьи
                </a>
            </div>
            {{> sharing }}
        </div>

        <div class="article__inner">
            <h1 class="article__heading">
                Оперативная доставка еды в офис и на дом
            </h1>
            <div class="article__image-block">

                <picture>
                    <source srcset="/images/article-mobile.webp" media="(max-width: 640px)" />
                    <source srcset="/images/article-tablet.webp" media="(max-width: 768px)" />
                    <img src="/images/article.webp" alt="MDN" class="article__image" />


                </picture>
            </div>
            <div class="article__info">
                <div class="article__date">
                    19 Ноября 2024
                </div>
                <div class="article__views">
                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                        <use xlink:href="#eye"></use>
                    </svg>
                    213
                </div>
            </div>
            <div class="article__text-content">
                <p>
                    Нужна доставка обедов по району Даниловский? Хотите вкусно поесть, но вокруг один фаст-фуд или
                    заведения, чье меню уже приелось? Скучаете по домашней сытной еде?
                </p>
                <p>
                    Представьте, что кто-то готовит обед по вашему заказу и вы при этом совершенно не тратите силы, но
                    что не менее важно, экономите время и деньги. Это не сказка, это реальность вместе с компанией
                    Ланч-Тайм.
                </p>
                <h2>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae eligendi corporis aspernatur voluptas
                    hic. Expedita.
                </h2>
                <p>
                    Мы предлагаем доставку горячих обедов прямо в офис или на дом. Более 20 лет успешной работы на рынке
                    доставки готовой еды позволяют нам с гордостью утверждать, мы – профессионалы своего дела. Выбирая
                    Ланч-тайм, вы обеспечиваете свой коллектив качественной, вкусной, домашней едой без консервантов,
                    химических добавок и сои.
                </p>

                <p>
                    Знаете, в чем наш секрет? Наши повара строго соблюдают госты приготовления и технологические карты,
                    курьеры внимательно следят за временем доставки, а служба приема заказов готова в любой момент
                    оказать помощь и вежливо ответить на все интересующие вас вопросы.
                </p>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, cupiditate!
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolorem nobis omnis dolor
                        molestiae illum optio?
                    </li>
                </ul>
                <p>
                    Комплексные обеды от компании <a href="#">Ланч-Тайм</a> – это свежие натуральные продукты от
                    проверенных
                    поставщиков, приготовленные с любовью. Один раз попробовав, вы будете заказывать наши обеды в офис
                    постоянно.
                </p>
                <ol>
                    <li>
                        Lorem.
                    </li>
                    <li>
                        Lorem, ipsum.
                    </li>
                    <li>
                        Lorem, ipsum dolor.
                    </li>
                </ol>
                <h3>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, sed! Officia modi minima
                    repudiandae error laudantium.
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, repellendus. Accusantium id,
                    repellat, suscipit deserunt quod quis reprehenderit nisi accusamus, cumque commodi reiciendis vel ad
                    esse. Accusamus velit neque, dolorum reiciendis non vel quasi nihil omnis mollitia expedita eum
                    temporibus harum. Explicabo, consequatur cumque deserunt blanditiis debitis veritatis quae
                    accusamus!
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, dignissimos! Optio reprehenderit sit
                    magnam molestias?
                </p>
                <h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, veniam.
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptas sunt quam ipsa sit nulla,
                    ratione libero dolor hic possimus.
                </p>
            </div>
            <a href="#" class="article__back">
                Назад к списку
            </a>
        </div>

    </div>
</section>