<section class="become-client">
    <div class="become-client__bg">

        <picture>
            <source srcset="/images/become-client-mobile.webp" media="(max-width: 640px)" />
            <source srcset="/images/become-client-tablet.webp" media="(max-width: 768px)" />
            <img src="/images/become-client-desktop.webp" alt="MDN" class="become-client__bg-image" />
        </picture>
    </div>
    <div class="become-client__content">
        <h2 class="become-client__heading">
            Стать клиентом в один клик
        </h2>
        <form action="/" method="POST" class="become-client__form">
            <div class="become-client__form-fields">
                <div class="become-client__form-field">
                    <input type="text" name="your-name" class="become-client__form-input" placeholder="Имя*"
                        required="">
                </div>
                <div class="become-client__form-field">
                    <input type="tel" name="your-name" class="become-client__form-input" placeholder="Телефон*"
                        required="">
                </div>
            </div>
            <div class="become-client__form-policy">
                <label class="become-client__form-policy-checkbox">
                    <input type="checkbox" name="your-policy" class="become-client__form-policy-checkbox-input"
                        required="" checked="">
                    <span class="become-client__form-policy-checkbox-mark">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                    </span>
                    <span class="become-client__form-policy-checkbox-text">
                        Отправляя форму вы принимаете <a href="#">условия передачи информации</a>
                    </span>
                </label>
            </div>
            <button class="become-client__form-submit" type="submit">
                Отправить
            </button>
        </form>
    </div>
</section>