<section class="become-client-commercial">
    <div class="become-client-commercial__content">
        <h2 class="become-client-commercial__heading">
            Коммерческое предложение для вас
        </h2>
        <div class="become-client-commercial__text">
            Отметьте нужные варианты и заполните поля ниже, чтобы мы могли предложить идеальные для вас условия.
        </div>
        <form class="become-client-commercial__wrapper" data-need-validation="">
            <div class="become-client-commercial__top">
                <div class="become-client-commercial__top-left-col">
                    <div class="become-client-commercial__who-are-you">
                        <h3 class="become-client-commercial__who-are-you-heading">
                            Кто вы?
                        </h3>
                        <div class="become-client-commercial__who-are-you-checkboxes">
                            <label class="become-client-commercial__who-are-you-checkbox">
                                <input type="radio" name="who-are-you"
                                    class="become-client-commercial__who-are-you-checkbox-input" value="Компания"
                                    checked="">
                                <span class="become-client-commercial__who-are-you-checkbox-content">
                                    Компания
                                </span>
                            </label>
                            <label class="become-client-commercial__who-are-you-checkbox">
                                <input type="radio" name="who-are-you"
                                    class="become-client-commercial__who-are-you-checkbox-input"
                                    value="Представитель экскурсионной группы">
                                <span class="become-client-commercial__who-are-you-checkbox-content">
                                    Представитель экскурсионной группы
                                </span>
                            </label>
                            <label class="become-client-commercial__who-are-you-checkbox">
                                <input type="radio" name="who-are-you"
                                    class="become-client-commercial__who-are-you-checkbox-input"
                                    value="Организатор семинаров и бизнес-тренингов">
                                <span class="become-client-commercial__who-are-you-checkbox-content">
                                    Организатор семинаров
                                    и бизнес-тренингов
                                </span>
                            </label>
                            <label class="become-client-commercial__who-are-you-checkbox">
                                <input type="radio" name="who-are-you"
                                    class="become-client-commercial__who-are-you-checkbox-input"
                                    value="Частный заказчик физ.лицо">
                                <span class="become-client-commercial__who-are-you-checkbox-content">
                                    Частный заказчик
                                    физ.лицо
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="become-client-commercial__price">
                        <h3 class="become-client-commercial__price-title">
                            Введите желаемую стоимость обеда
                        </h3>
                        <div class="become-client-commercial__price-input-wrapper">
                            <input type="number" class="become-client-commercial__price-input" name="price"
                                placeholder="Стоимость на человека" inputmode="numeric" required="">
                        </div>
                    </div>
                    <div class="become-client-commercial__persons">
                        <h3 class="become-client-commercial__persons-title">
                            Количество человек
                        </h3>
                        <div class="become-client-commercial__persons-counter">
                            <div class="counter" data-min="1">
                                <button class="counter__btn counter__btn--minus" type="button">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </button>
                                <div class="counter__amount">
                                    <input type="number" class="counter__amount-input" readonly="" value="1">
                                </div>
                                <button class="counter__btn counter__btn--plus" type="button">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="become-client-commercial__top-right-col">
                    <div class="become-client-commercial__payment-delivery-block">
                        <h3 class="become-client-commercial__top-payment-delivery-block-title">
                            Оплата
                        </h3>
                        <div class="become-client-commercial__top-payment-delivery-block-text">
                            Мы поддерживаем любые способы оплаты, от оплаты курьеру, до электронных денег
                        </div>
                        <a href="#" class="become-client-commercial__top-payment-delivery-block-link">
                            Подробнее
                        </a>
                    </div>
                    <div class="become-client-commercial__payment-delivery-block">
                        <h3 class="become-client-commercial__top-payment-delivery-block-title">
                            Доставка
                        </h3>
                        <div class="become-client-commercial__top-payment-delivery-block-text">
                            Курьерская доставка по Москве и МО
                        </div>
                        <a href="#" class="become-client-commercial__top-payment-delivery-block-link">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="become-client-commercial__types">
                <ul class="become-client-commercial__types-list">
                    <li class="become-client-commercial__types-list-item">
                        <div class="become-client-commercial__types-card">
                            <div class="become-client-commercial__types-card-image-container">
                                <img src="/images/types/1.webp" alt=""
                                    class="become-client-commercial__types-card-image">
                            </div>
                            <div class="become-client-commercial__types-card-content">
                                <h3 class="become-client-commercial__types-card-title">
                                    Бизнес-ланчи
                                </h3>
                                <div class="become-client-commercial__types-card-desc">
                                    Комплексные обеды – это удобное, экономичное и вкусное решение для постоянного
                                    питания сотрудников компании. Вы можете выбрать готовый комплекс, изменить под себя
                                    существующий набор или собрать индивидуальный вариант исходя из желаемой стоимости
                                    обеда!
                                </div>
                            </div>
                            <a href="#" class="become-client-commercial__types-card-link">
                                Выбрать
                            </a>
                        </div>
                    </li>
                    <li class="become-client-commercial__types-list-item">
                        <div class="become-client-commercial__types-card">
                            <div class="become-client-commercial__types-card-image-container">
                                <img src="/images/types/2.webp" alt=""
                                    class="become-client-commercial__types-card-image">
                            </div>
                            <div class="become-client-commercial__types-card-content">
                                <h3 class="become-client-commercial__types-card-title">
                                    Заказ по меню
                                </h3>
                                <div class="become-client-commercial__types-card-desc">
                                    Вы можете выбрать любые блюда из всего основного меню на текущую/следующую неделю.
                                    Мы готовим из натуральных продуктов без консервантов, химических добавок и сои.
                                </div>
                            </div>
                            <a href="#" class="become-client-commercial__types-card-link">
                                Выбрать
                            </a>
                        </div>
                    </li>
                    <li class="become-client-commercial__types-list-item">
                        <div class="become-client-commercial__types-card">
                            <div class="become-client-commercial__types-card-image-container">
                                <img src="/images/types/3.webp" alt=""
                                    class="become-client-commercial__types-card-image">
                            </div>
                            <div class="become-client-commercial__types-card-content">
                                <h3 class="become-client-commercial__types-card-title">
                                    Бизнес-ланчи
                                </h3>
                                <div class="become-client-commercial__types-card-desc">
                                    Предложение по бизнес-ланчам этого месяца – фиксированные наборы блюд по
                                    привлекательной цене, при этом блюда в этих наборах взаимозаменяемы, достаточно при
                                    выборе нажать на стрелку, расположенную на блюде.
                                </div>
                            </div>
                            <a href="#" class="become-client-commercial__types-card-link">
                                Выбрать
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="become-client-commercial__components">
                <div class="become-client-commercial__components-blocks">
                    <div class="become-client-commercial__components-block">
                        <h3 class="become-client-commercial__components-block-title">
                            Блюда по составу
                        </h3>
                        <ul
                            class="become-client-commercial__components-checkboxes-list become-client-commercial__components-checkboxes-list--two-col">
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Мясные/мясо птицы" checked="">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Мясные/мясо птицы
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Овощные/фруктовые">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Овощные/фруктовые
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Мучные">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Мучные
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Рыбные">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Рыбные
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Яичные">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Яичные
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Молочные">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Молочные
                                    </span>
                                </label>
                            </li>

                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Крупяные">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Крупяные
                                    </span>
                                </label>
                            </li>

                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Напитки">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Напитки
                                    </span>
                                </label>
                            </li>

                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="components[]" value="Посуда, приборы">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Посуда, приборы
                                    </span>
                                </label>
                            </li>

                        </ul>
                    </div>
                    <div class="become-client-commercial__components-block">
                        <h3 class="become-client-commercial__components-block-title">
                            Ингредиенты блюд
                        </h3>
                        <ul
                            class="become-client-commercial__components-checkboxes-list become-client-commercial__components-checkboxes-list--two-col">
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="ingregients[]" value="Соль">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Соль
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="ingregients[]" value="Томаты">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Томаты
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="ingregients[]" value="Мёд">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Мёд
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="ingregients[]" value="Мёд">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Мясо курицы
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="ingregients[]" value="Чеснок">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Чеснок
                                    </span>
                                </label>
                            </li>

                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="ingregients[]" value="Фрукты (груша, яблоки и др.)">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Фрукты (груша, яблоки и др.)
                                    </span>
                                </label>
                            </li>

                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="ingregients[]" value="Мёд">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Лук
                                    </span>
                                </label>
                            </li>



                        </ul>
                    </div>
                    <div class="become-client-commercial__components-block">
                        <h3 class="become-client-commercial__components-block-title">
                            Выбрать только блюда
                        </h3>
                        <ul class="become-client-commercial__components-checkboxes-list">
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="dishes[]" value="Вегетарианское">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Вегетарианское
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="dishes[]" value="Постное">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Постное
                                    </span>
                                </label>
                            </li>
                            <li class="become-client-commercial__components-checkboxes-list-item">
                                <label class="become-client-commercial__components-checkbox">
                                    <input type="checkbox" class="become-client-commercial__components-checkbox-input"
                                        name="dishes[]" value="Постное">
                                    <span class="become-client-commercial__components-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="become-client-commercial__components-checkbox-text">
                                        Диетическое
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="become-client-commercial__components-remark">
                    Фильтры помогут отобрать возможные комбинации блюд из нашего широкого ассортимента под ваши
                    индивидуальные вкусы
                </div>
            </div>
            <div class="become-client-commercial__summary">
                <h3 class="become-client-commercial__summary-heading">
                    Итог по предзаказу:
                </h3>
                <div class="become-client-commercial__summary-table">
                    <table>
                        <tbody>


                            <tr>
                                <th>
                                    Общая сумма заказа с выбранными параметрами:
                                </th>
                                <td>
                                    0 руб
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Сумма на 1 человека:
                                </th>
                                <td>
                                    0 руб.
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Подарки к заказу:
                                </th>
                                <td>
                                    0 напитков
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="become-client-commercial__user-data">
                <h3 class="become-client-commercial__user-data-title">
                    Данные покупателя
                </h3>
                <div class="become-client-commercial__user-wrapper">


                    <div class="become-client-commercial__user-fields">
                        <div class="become-client-commercial__user-field">
                            <input type="text" class="become-client-commercial__user-input"
                                placeholder="Контактное лицо*" required="">
                        </div>
                        <div class="become-client-commercial__user-field">
                            <input type="tel" class="become-client-commercial__user-input js-phone-input"
                                placeholder="Телефон*" required="" data-parsley-phone="">
                        </div>
                        <div class="become-client-commercial__user-field">
                            <input type="email" class="become-client-commercial__user-input" placeholder="E-mail*"
                                required="">
                        </div>
                    </div>
                    <div class="become-client-commercial__user-bottom-row">
                        <div class="become-client-commercial__user-policy">
                            <label class="become-client-commercial__user-policy-checkbox">
                                <input type="checkbox" name="your-policy"
                                    class="become-client-commercial__user-policy-checkbox-input" required="" checked="">
                                <span class="become-client-commercial__user-policy-checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="become-client-commercial__user-policy-checkbox-text">
                                    Отправляя форму вы принимаете <a href="#">условия передачи информации</a>
                                </span>
                            </label>
                        </div>
                        <button class="become-client-commercial__user-submit" type="submit">
                            Отправить заявку
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>