<section class="become-client-intro">
    <div class="become-client-intro__bg">
        <picture>
            <source srcset="/images/become-client-intro-mobile.webp" media="(max-width: 640px)" />
            <source srcset="/images/become-client-intro-tablet.webp" media="(max-width: 768px)" />
            <img src="/images/become-client-intro-desktop.webp" alt="" class="become-client-intro__bg-image" />
        </picture>
    </div>
    <div class="become-client-intro__content">
        <div class="become-client-intro__text-content">
            <h3 class="become-client-intro__heading">
                Стать нашим клиентом
            </h3>
            <div class="become-client-intro__text">
                Мы предлагаем вашему вниманию варианты обеденного меню на любой вкус. А также мы обеспечим безупречную
                организацию питания на семинарах, проведение фуршетов и банкетов и предоставим обслуживание высокого
                уровня
                экскурсионным группам.
            </div>
            <a href="#" class="become-client-intro__link">
                Сделать заказ по меню
            </a>
        </div>
    </div>
</section>