<section class="contacts">
    <div class="contacts__content">
        <div class="page-top">
            <div class="breadcrumbs">
                <a href="#">
                    Главная</a>
                <a href="#" class="active">
                    Контакты</a>
            </div>
            {{> sharing }}
        </div>

        <div class="contacts__inner">
            <h1 class="contacts__heading">
                КОнтакты
            </h1>
            <div class="contacts__row">
                <div class="contacts__map" data-pin="/images/pin.svg" data-lat="55.708825" data-lng="37.382106">
                    <div class="contacts__map-inner" id="contacts-map">

                    </div>
                </div>
                <div class="contacts__right-col">
                    <ul class="contacts__list">
                        <li class="contacts__list-item">
                            <div class="contacts__card">
                                <h3 class="contacts__card-title">
                                    <img src="/images/contacts/1.svg" alt="" class="contacts__card-icon">
                                    Адрес
                                </h3>
                                <div class="contacts__card-text">
                                    г. Москва, Можайское шоссе, владение 165
                                </div>
                            </div>
                        </li>
                        <li class="contacts__list-item">
                            <div class="contacts__card">
                                <h3 class="contacts__card-title">
                                    <img src="/images/contacts/2.svg" alt="" class="contacts__card-icon">
                                    Телефоны
                                </h3>
                                <div class="contacts__card-text">
                                    <a href="tel:+74951919654">
                                        +7 (495) 191-96-54
                                    </a><br>
                                    <a href="tel:+79651059669">
                                        +7 (965) 105-96-69
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="contacts__list-item">
                            <div class="contacts__card">
                                <h3 class="contacts__card-title">
                                    <img src="/images/contacts/3.svg" alt="" class="contacts__card-icon">
                                    E-mail
                                </h3>
                                <div class="contacts__card-text">
                                    <a href="mailto:info@obed-office.ru">
                                        info@obed-office.ru
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="contacts__list-item">
                            <div class="contacts__card">
                                <h3 class="contacts__card-title">
                                    <img src="/images/contacts/4.svg" alt="" class="contacts__card-icon">
                                    Время работы
                                </h3>
                                <div class="contacts__card-text">
                                    Пн-Вс с 8:00 до 20:00
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="contacts__messengers">
                        <h3 class="contacts__messengers-title">
                            <img src="/images/contacts/5.svg" alt="" class="contacts__messengers-icon">
                            Мессенджеры и соц. сети
                        </h3>
                        <ul class="contacts__messengers-list">
                            <li class="contacts__messengers-list-item">
                                <a href="#" class="contacts__messengers-link">
                                    <img src="/images/messengers/1.svg" alt="" class="contacts__messengers-link-icon">
                                </a>
                            </li>
                            <li class="contacts__messengers-list-item">
                                <a href="#" class="contacts__messengers-link">
                                    <img src="/images/messengers/2.svg" alt="" class="contacts__messengers-link-icon">
                                </a>
                            </li>
                            <li class="contacts__messengers-list-item">
                                <a href="#" class="contacts__messengers-link">
                                    <img src="/images/messengers/3.svg" alt="" class="contacts__messengers-link-icon">
                                </a>
                            </li>
                            <li class="contacts__messengers-list-item">
                                <a href="#" class="contacts__messengers-link">
                                    <img src="/images/messengers/4.svg" alt="" class="contacts__messengers-link-icon">
                                </a>
                            </li>
                            <li class="contacts__messengers-list-item">
                                <a href="#" class="contacts__messengers-link">
                                    <img src="/images/messengers/5.svg" alt="" class="contacts__messengers-link-icon">
                                </a>
                            </li>
                            <li class="contacts__messengers-list-item">
                                <a href="#" class="contacts__messengers-link">
                                    <img src="/images/messengers/6.svg" alt="" class="contacts__messengers-link-icon">
                                </a>
                            </li>
                            <li class="contacts__messengers-list-item">
                                <a href="#" class="contacts__messengers-link">
                                    <img src="/images/messengers/7.svg" alt="" class="contacts__messengers-link-icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contacts__requisites">
                <h3 class="contacts__requisites-heading">
                    Реквизиты
                </h3>
                <ul class="contacts__requisites-list">
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <div class="contacts__requisites-card-key">
                                Наименование организации
                            </div>
                            <div class="contacts__requisites-card-value">
                                Общество с ограниченной ответственностью «ЛАНЧ-ТАЙМ»
                            </div>
                        </div>
                    </li>
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <div class="contacts__requisites-card-key">
                                Юридический адрес
                            </div>
                            <div class="contacts__requisites-card-value">
                                125310, Москва, Ангелов пер, дом № 2, кв.252
                            </div>
                        </div>
                    </li>
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <div class="contacts__requisites-card-key">
                                ИНН/КПП
                            </div>
                            <div class="contacts__requisites-card-value">
                                7733261239/773301001
                            </div>
                        </div>
                    </li>
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <div class="contacts__requisites-card-key">
                                ОГРН
                            </div>
                            <div class="contacts__requisites-card-value">
                                5157746127732
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="write-us">
                <form action="/" method="POST" class="write-us__form">
                    <h3 class="write-us__form-heading">
                        Написать нам
                    </h3>
                    <div class="write-us__form-fields">
                        <div class="write-us__form-field">
                            <input type="text" class="write-us__form-input" name="your-email" placeholder="Имя*"
                                required="">
                        </div>

                        <div class="write-us__form-field ">
                            <input type="email" class="write-us__form-input" name="your-email" placeholder="E-mail">
                        </div>
                        <div class="write-us__form-field write-us__form-field--fullheight">
                            <textarea name="your-comment" class="write-us__form-input"
                                placeholder="Сообщение"></textarea>
                        </div>
                    </div>
                    <div class="write-us__form-policy">
                        <label class="write-us__form-policy-checkbox">
                            <input type="checkbox" name="your-policy" class="write-us__form-policy-checkbox-input"
                                required="" checked="">
                            <span class="write-us__form-policy-checkbox-mark">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </span>
                            <span class="write-us__form-policy-checkbox-text">
                                Отправляя форму вы принимаете <a href="#">условия передачи информации</a>
                            </span>


                        </label>
                    </div>
                    <button class="write-us__form-submit" type="submit">
                        Отправить
                    </button>
                </form>
            </div>
        </div>

    </div>
</section>




<script src="https://api-maps.yandex.ru/v3/?apikey=f02ed68d-66b3-4bd2-b8eb-c88edc899a8f&lang=ru_RU"></script>

<script>
    initMap();

    async function initMap() {
        await ymaps3.ready;
        const {
            YMap,
            YMapDefaultSchemeLayer,
            YMapControls,
            YMapMarker,
            YMapDefaultFeaturesLayer
        } = ymaps3;

        const { YMapZoomControl } = await ymaps3.import('@yandex/ymaps3-controls@0.0.1');

        const mapElement = document.querySelector('#contacts-map');
        if (!mapElement) return;
        const lat = Number(mapElement.parentElement.getAttribute('data-lat'));
        const lng = Number(mapElement.parentElement.getAttribute('data-lng'));
        const pinUrl = mapElement.parentElement.getAttribute('data-pin')
        const zoom = mapElement.parentElement.hasAttribute('data-zoom') ? Number(mapElement.parentElement.getAttribute('data-zoom')) : 14

        const markerElement = document.createElement('div');
        markerElement.className = 'contacts__map-marker';
        const pin = document.createElement('img')
        pin.className = 'contacts__map-marker-pin';
        pin.src = pinUrl;

        markerElement.appendChild(pin)

        const marker = new YMapMarker(
            {

                coordinates: [lng, lat],
                draggable: false,
                mapFollowsOnDrag: false
            },
            markerElement
        );

        const map = new YMap(
            mapElement,
            {
                location: {
                    center: [lng, lat],
                    zoom: 14
                },
                behaviors: ['drag', 'pinchZoom']
            }
        );

        map.addChild(new YMapDefaultSchemeLayer())
            .addChild(new YMapDefaultFeaturesLayer({ zIndex: 1800 }))
            .addChild(marker)

        const controls = new YMapControls({
            position: 'top right', orientation: 'vertical'
        });
        controls.addChild(
            new YMapZoomControl({
                easing: 'linear',

            })
        );
        map.addChild(controls);
    }
</script>