<section class="corporate">
    <div class="corporate__content">
        <div class="page-top">
            <div class="breadcrumbs">
                <a href="#">
                    Главная</a>
                <a href="#" class="active">
                    Организация питания</a>
            </div>
            {{> sharing }}
        </div>

        <div class="corporate__inner">
            <h1 class="corporate__heading">
                Организация питания
            </h1>
            <div class="corporate__intro">
                <div class="corporate__intro-text">
                    <p>
                        <b>Корпоративное питание - лучшее доказательство заботы о сотрудниках!</b> "Путь к успеху
                        бизнеса
                        лежит
                        через здоровое питание сотрудников", - могут сказать успешные и предусмотрительные
                        предприниматели
                        наших дней, перефразируя старинную пословицу. И они стопроцентно правы, ведь качественный и
                        вкусный
                        обед не только придает сил, насыщая мускулы и мозг, но и повышает преданность интересам фирмы,
                        делающей все, чтобы все сотрудники, от профессионалов высокого класса до только что начинающих
                        карьеру новичков, были здоровы и счастливы.
                    </p>
                    <p>
                        Организовать корпоративное питание - все равно что сделать лучший подарок людям, которые устали
                        носить с собой термосы и ланч-боксы, недовольны качеством питания в ближайшей столовой или кафе
                        и просто предпочитают проводить обеденный перерыв в максимально комфортной остановке и в
                        компании дружески настроенных приветливых коллег.
                    </p>
                </div>
                <ul class="corporate__intro-list">
                    <li class="corporate__intro-list-item">
                        <a href="#" class="corporate__card">
                            <div class="corporate__card-bg">
                                <img src="/images/corporate/1.webp" alt="" class="corporate__card-bg-image">
                            </div>
                            <div class="corporate__card-content">
                                <div class="corporate__card-card-content-inner">
                                    <h3 class="corporate__card-title">
                                        Доставка обедов
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="corporate__intro-list-item">
                        <a href="#" class="corporate__card">
                            <div class="corporate__card-bg">
                                <img src="/images/corporate/2.webp" alt="" class="corporate__card-bg-image">
                            </div>
                            <div class="corporate__card-content">
                                <div class="corporate__card-card-content-inner">
                                    <h3 class="corporate__card-title">
                                        Обеды для строителей
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="corporate__intro-list-item">
                        <a href="#" class="corporate__card">
                            <div class="corporate__card-bg">
                                <img src="/images/corporate/3.webp" alt="" class="corporate__card-bg-image">
                            </div>
                            <div class="corporate__card-content">
                                <div class="corporate__card-card-content-inner">
                                    <h3 class="corporate__card-title">
                                        Питание
                                        экскурсионных групп
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="corporate__intro-list-item">
                        <a href="#" class="corporate__card">
                            <div class="corporate__card-bg">
                                <img src="/images/corporate/4.webp" alt="" class="corporate__card-bg-image">
                            </div>
                            <div class="corporate__card-content">
                                <div class="corporate__card-card-content-inner">
                                    <h3 class="corporate__card-title">
                                        Организация
                                        столовой
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="corporate__intro-list-item">
                        <a href="#" class="corporate__card">
                            <div class="corporate__card-bg">
                                <img src="/images/corporate/5.webp" alt="" class="corporate__card-bg-image">
                            </div>
                            <div class="corporate__card-content">
                                <div class="corporate__card-card-content-inner">
                                    <h3 class="corporate__card-title">
                                        Обеды для съемочной площадки
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="corporate__block">
                <h2 class="corporate__block-title">
                    Корпоративное питание в Москве: изучаем варианты
                </h2>
                <div class="corporate__block-text-content">
                    <p>
                        Решить проблему корпоративного питания можно несколькими способами, имеющими как весомые плюсы,
                        так и очевидные минусы.
                    </p>
                    <ul>
                        <li>
                            создание собственной столовой или буфета. Данный путь организации корпоративного питания для
                            сотрудников не только максимально трудоемок и затратен, но и не всегда выполним. Не каждый
                            офис соответствует требованиям Роспотребнадзора к размещению мини-предприятий общепита, не
                            всякой фирме не только платить дополнительным сотрудником, но и организовать повседневный
                            контроль за качеством труда мойщиков и поваров. К тому же у ваших сотрудников могут быть
                            слишком разнообразные вкусы, не говоря о тех, кому нужна диета.
                        </li>
                        <li>
                            организация раздаточной линии. Этот вариант обустройства корпоративного питания не так дорог
                            и сложен, как предыдущий, но и он требует специального оборудования, дополнительных
                            помещений и найма людей, которые будут заниматься раздачей блюд
                        </li>
                        <li>
                            доставка корпоративного питания в офис - способ, который все чаще выбирает бизнес столицы.
                            Он позволяет оптимизировать затраты, варьировать меню с учетом пожеланий сотрудников, не
                            беспокоиться о свежести приобретаемых для кухни или раздаточной линии продуктов. Все заботы,
                            от заказа продуктов до мойки кастрюль и сковород, берет на себя организатор корпоративного
                            питания.
                        </li>
                        <li>
                            лучший способ организовать корпоративное питание на месте - выделить для этого специальное
                            помещение, где можно разместиться со всеми удобствами вместо того, чтобы ютиться на краешке
                            рабочего стола, рискуя испортить офисную технику. Также этот способ наиболее практичный с
                            точки зрения гигиены и культуры труда в целом. Порядок на рабочем месте - порядок и в делах,
                            обеспечивающий процветание фирмы и благополучие ее сотрудников!
                        </li>
                    </ul>
                </div>
            </div>
            <div class="corporate__block">
                <h2 class="corporate__block-title">
                    Кому выгодна организация корпоративного питания?
                </h2>
                <div class="corporate__block-text-content">
                    <h3>
                        От использования этой возможности выигрывают решительно все.
                    </h3>
                    <p>
                        И сотрудники компании, которые не опасаются "застрять" в ближайшем ресторане быстрого питания,
                        кафе или пекарне из-за очередей, задержек в подаче блюд и других форс-мажоров. Кроме того,
                        организация корпоративного питания приобретает особую актуальность в связи с возвратом к
                        "противовирусным" ограничениям в работе предприятий общественного питания, которые вновь
                        обсуждаются в правительстве Москвы.
                    </p>
                    <p>
                        И сама компания, которая обеспечивает не только лояльность сотрудников, но и их бодрость,
                        здоровье и хорошее настроение. Вдобавок в офисе больше не чувствуется специфических "кухонных"
                        запахов, сопровождающих разогревание еды. Ведь за дело берется компания "Ланч-Тайм",
                        доставляющая своим клиентам свежайшие обеды, которые не успели остыть!
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>