<section class="delivery-page">
    <div class="delivery-page__content">
        <div class="page-top">
            <div class="breadcrumbs">
                <a href="#">
                    Главная</a>
                <a href="#">
                    Доставка и оплата</a>
                <a href="#" class="active">
                    Доставка обедов Даниловский</a>
            </div>
            {{> sharing }}
        </div>

        <div class="delivery-page__inner">
            <h1 class="delivery-page__heading">
                Доставка обедов Даниловский
            </h1>
            <ul class="delivery__list">
                <li class="delivery__list-item">
                    <a href="#" class="delivery__card">
                        <div class="delivery__card-image-container">
                            <img src="/images/delivery/1.webp" alt="" class="delivery__card-image">
                        </div>
                        <div class="delivery__card-circle"></div>
                        <h3 class="delivery__card-title">
                            Салаты
                            и&nbsp;закуски
                        </h3>
                    </a>
                </li>
                <li class="delivery__list-item">
                    <a href="#" class="delivery__card">
                        <div class="delivery__card-image-container">
                            <img src="/images/delivery/2.webp" alt="" class="delivery__card-image">
                        </div>
                        <div class="delivery__card-circle"></div>
                        <h3 class="delivery__card-title">
                            Первое блюдо
                        </h3>
                    </a>
                </li>
                <li class="delivery__list-item">
                    <a href="#" class="delivery__card">
                        <div class="delivery__card-image-container">
                            <img src="/images/delivery/3.webp" alt="" class="delivery__card-image">
                        </div>
                        <div class="delivery__card-circle"></div>
                        <h3 class="delivery__card-title">
                            Второе
                            блюдо
                        </h3>
                    </a>
                </li>

                <li class="delivery__list-item">
                    <a href="#" class="delivery__card">
                        <div class="delivery__card-image-container">
                            <img src="/images/delivery/4.webp" alt="" class="delivery__card-image">
                        </div>
                        <div class="delivery__card-circle"></div>
                        <h3 class="delivery__card-title">
                            Гарниры
                            и&nbsp;соусы
                        </h3>
                    </a>
                </li>
                <li class="delivery__list-item">
                    <a href="#" class="delivery__card">
                        <div class="delivery__card-image-container">
                            <img src="/images/delivery/5.webp" alt="" class="delivery__card-image">
                        </div>
                        <div class="delivery__card-circle"></div>
                        <h3 class="delivery__card-title">
                            Блины
                            и&nbsp;блинчики
                        </h3>
                    </a>
                </li>
                <li class="delivery__list-item">
                    <a href="#" class="delivery__card">
                        <div class="delivery__card-image-container">
                            <img src="/images/delivery/6.webp" alt="" class="delivery__card-image">
                        </div>
                        <div class="delivery__card-circle"></div>
                        <h3 class="delivery__card-title">
                            Выпечка и&nbsp;десерт
                        </h3>
                    </a>
                </li>
                <li class="delivery__list-item">
                    <a href="#" class="delivery__card">
                        <div class="delivery__card-image-container">
                            <img src="/images/delivery/7.webp" alt="" class="delivery__card-image">
                        </div>
                        <div class="delivery__card-circle"></div>
                        <h3 class="delivery__card-title">
                            Напиток
                        </h3>
                    </a>
                </li>
                <li class="delivery__list-item">
                    <a href="#" class="delivery__card">
                        <div class="delivery__card-image-container">
                            <img src="/images/delivery/8.webp" alt="" class="delivery__card-image">
                        </div>
                        <div class="delivery__card-circle"></div>
                        <h3 class="delivery__card-title">
                            Буфетная
                            продукция
                        </h3>
                    </a>
                </li>
            </ul>
            <div class="delivery-page__bottom-block">
                <div class="delivery-page__text-content">
                    <p>
                        Нужна доставка обедов по району Даниловский? Хотите вкусно поесть, но вокруг один фаст-фуд или
                        заведения, чье меню уже приелось? Скучаете по домашней сытной еде?
                    </p>
                    <p>
                        Представьте, что кто-то готовит обед по вашему заказу и вы при этом совершенно не тратите силы,
                        но что не менее важно, экономите время и деньги. Это не сказка, это реальность вместе с
                        компанией Ланч-Тайм.
                    </p>
                    <p>
                        Мы предлагаем доставку горячих обедов прямо в офис или на дом. Более 20 лет успешной работы на
                        рынке доставки готовой еды позволяют нам с гордостью утверждать, мы – профессионалы своего дела.
                        Выбирая Ланч-тайм, вы обеспечиваете свой коллектив качественной, вкусной, домашней едой без
                        консервантов, химических добавок и сои.
                    </p>
                    <p>
                        Знаете, в чем наш секрет? Наши повара строго соблюдают госты приготовления и технологические
                        карты, курьеры внимательно следят за временем доставки, а служба приема заказов готова в любой
                        момент оказать помощь и вежливо ответить на все интересующие вас вопросы.
                    </p>
                    <p>
                        Комплексные обеды от компании Ланч-Тайм – это свежие натуральные продукты от проверенных
                        поставщиков, приготовленные с любовью. Один раз попробовав, вы будете заказывать наши обеды в
                        офис постоянно.

                    </p>
                </div>

            </div>
        </div>


    </div>
</section>