<section class="delivery">
    <div class="delivery__content">
        <div class="heading-block">
            <h2 class="heading-block__title">
                Доставка вкусной еды
            </h2>
            <div class="heading-block__text">
                для занятых людей
            </div>
        </div>
        <ul class="delivery__list">
            <li class="delivery__list-item">
                <a href="#" class="delivery__card">
                    <div class="delivery__card-image-container">
                        <img src="/images/delivery/1.webp" alt="" class="delivery__card-image">
                    </div>
                    <div class="delivery__card-circle"></div>
                    <h3 class="delivery__card-title">
                        Салаты
                        и&nbsp;закуски
                    </h3>
                </a>
            </li>
            <li class="delivery__list-item">
                <a href="#" class="delivery__card">
                    <div class="delivery__card-image-container">
                        <img src="/images/delivery/2.webp" alt="" class="delivery__card-image">
                    </div>
                    <div class="delivery__card-circle"></div>
                    <h3 class="delivery__card-title">
                        Первое блюдо
                    </h3>
                </a>
            </li>
            <li class="delivery__list-item">
                <a href="#" class="delivery__card">
                    <div class="delivery__card-image-container">
                        <img src="/images/delivery/3.webp" alt="" class="delivery__card-image">
                    </div>
                    <div class="delivery__card-circle"></div>
                    <h3 class="delivery__card-title">
                        Второе
                        блюдо
                    </h3>
                </a>
            </li>

            <li class="delivery__list-item">
                <a href="#" class="delivery__card">
                    <div class="delivery__card-image-container">
                        <img src="/images/delivery/4.webp" alt="" class="delivery__card-image">
                    </div>
                    <div class="delivery__card-circle"></div>
                    <h3 class="delivery__card-title">
                        Гарниры
                        и&nbsp;соусы
                    </h3>
                </a>
            </li>
            <li class="delivery__list-item">
                <a href="#" class="delivery__card">
                    <div class="delivery__card-image-container">
                        <img src="/images/delivery/5.webp" alt="" class="delivery__card-image">
                    </div>
                    <div class="delivery__card-circle"></div>
                    <h3 class="delivery__card-title">
                        Блины
                        и&nbsp;блинчики
                    </h3>
                </a>
            </li>
            <li class="delivery__list-item">
                <a href="#" class="delivery__card">
                    <div class="delivery__card-image-container">
                        <img src="/images/delivery/6.webp" alt="" class="delivery__card-image">
                    </div>
                    <div class="delivery__card-circle"></div>
                    <h3 class="delivery__card-title">
                        Выпечка и&nbsp;десерт
                    </h3>
                </a>
            </li>
            <li class="delivery__list-item">
                <a href="#" class="delivery__card">
                    <div class="delivery__card-image-container">
                        <img src="/images/delivery/7.webp" alt="" class="delivery__card-image">
                    </div>
                    <div class="delivery__card-circle"></div>
                    <h3 class="delivery__card-title">
                        Напиток
                    </h3>
                </a>
            </li>
            <li class="delivery__list-item">
                <a href="#" class="delivery__card">
                    <div class="delivery__card-image-container">
                        <img src="/images/delivery/8.webp" alt="" class="delivery__card-image">
                    </div>
                    <div class="delivery__card-circle"></div>
                    <h3 class="delivery__card-title">
                        Буфетная
                        продукция
                    </h3>
                </a>
            </li>
        </ul>
    </div>
</section>