<section class="food">
    <div class="food__content">
        <h2 class="food__heading">
            Индивидуальные обеды
        </h2>
        <div class="food__text">
            Впишите сумму, которую Вы хотите потратить на обед и выберите из списков нужные блюда. <span
                class="food__info">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#info"></use>
                </svg>
                <div class="food__info-popover">
                    <div class="food__info-popover-inner">
                        Комментарий к иконке
                    </div>
                </div>
            </span>
        </div>
        <form action="/" method="POST" class="food__form" data-need-validation="">
            <div class="food__form-amount">
                <div class="food__form-amount-input-wrapper">
                    <input type="number" class="food__form-amount-input" placeholder="Введите сумму не менее 200 рублей"
                        required="">
                </div>
                <div class="food__form-amount-text">
                    Сумма по выбранным блюдам
                </div>
            </div>
            <ul class="food__form-dishes-list">
                <li class="food__form-dishes-list-item">
                    <a href="#food-modal" class="food__form-dishes-placeholder-card js-open-modal">
                        <div class="food__form-dishes-placeholder-card-content">
                            <div class="food__form-dishes-placeholder-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#food-1"></use>
                                </svg>
                            </div>
                            <h3 class="food__form-dishes-placeholder-card-title">
                                Салаты
                                и закуски
                            </h3>
                        </div>
                        <div class="food__form-dishes-placeholder-card-choose-text">
                            Выбрать из меню
                        </div>
                    </a>
                </li>
                <li class="food__form-dishes-list-item">
                    <a href="#food-modal" class="food__form-dishes-placeholder-card js-open-modal">
                        <div class="food__form-dishes-placeholder-card-content">
                            <div class="food__form-dishes-placeholder-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#food-2"></use>
                                </svg>
                            </div>
                            <h3 class="food__form-dishes-placeholder-card-title">
                                Первое
                                блюдо
                            </h3>
                        </div>
                        <div class="food__form-dishes-placeholder-card-choose-text">
                            Выбрать из меню
                        </div>
                    </a>
                </li>
                <li class="food__form-dishes-list-item">
                    <a href="#food-modal" class="food__form-dishes-placeholder-card js-open-modal">
                        <div class="food__form-dishes-placeholder-card-content">
                            <div class="food__form-dishes-placeholder-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#food-3"></use>
                                </svg>
                            </div>
                            <h3 class="food__form-dishes-placeholder-card-title">
                                Второе
                                блюдо
                            </h3>
                        </div>
                        <div class="food__form-dishes-placeholder-card-choose-text">
                            Выбрать из меню
                        </div>
                    </a>
                </li>
                <li class="food__form-dishes-list-item">
                    <a href="#food-modal" class="food__form-dishes-placeholder-card js-open-modal">
                        <div class="food__form-dishes-placeholder-card-content">
                            <div class="food__form-dishes-placeholder-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#food-4"></use>
                                </svg>
                            </div>
                            <h3 class="food__form-dishes-placeholder-card-title">
                                Гарниры и соусы
                            </h3>
                        </div>
                        <div class="food__form-dishes-placeholder-card-choose-text">
                            Выбрать из меню
                        </div>
                    </a>
                </li>
                <li class="food__form-dishes-list-item">
                    <a href="#food-modal" class="food__form-dishes-placeholder-card js-open-modal">
                        <div class="food__form-dishes-placeholder-card-content">
                            <div class="food__form-dishes-placeholder-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#food-5"></use>
                                </svg>
                            </div>
                            <h3 class="food__form-dishes-placeholder-card-title">
                                Выпечка / десерт
                            </h3>
                        </div>
                        <div class="food__form-dishes-placeholder-card-choose-text">
                            Выбрать из меню
                        </div>
                    </a>
                </li>
                <li class="food__form-dishes-list-item">
                    <a href="#food-modal" class="food__form-dishes-placeholder-card js-open-modal">
                        <div class="food__form-dishes-placeholder-card-content">
                            <div class="food__form-dishes-placeholder-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#food-6"></use>
                                </svg>
                            </div>
                            <h3 class="food__form-dishes-placeholder-card-title">
                                Напиток
                            </h3>
                        </div>
                        <div class="food__form-dishes-placeholder-card-choose-text">
                            Выбрать из меню
                        </div>
                    </a>
                </li>
                <li class="food__form-dishes-list-item">
                    <a href="#food-modal" class="food__form-dishes-placeholder-card js-open-modal">
                        <div class="food__form-dishes-placeholder-card-content">
                            <div class="food__form-dishes-placeholder-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#food-7"></use>
                                </svg>
                            </div>
                            <h3 class="food__form-dishes-placeholder-card-title">
                                Хлеб
                            </h3>
                        </div>
                        <div class="food__form-dishes-placeholder-card-choose-text">
                            Выбрать из меню
                        </div>
                    </a>
                </li>
            </ul>
            <div class="food__form-controls">
                <div class="food__form-specs-wrapper">


                    <div class="food__form-weight">
                        Вес: 0 гр
                    </div>
                    <div class="food__form-calories">
                        Ккал: 0 ккал
                    </div>
                </div>
                <div class="food__form-quantity">
                    <div class="food__form-quantity-text">
                        Количество:
                    </div>
                    <div class="counter" data-min="1">
                        <button class="counter__btn counter__btn--minus" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#minus"></use>
                            </svg>
                        </button>
                        <div class="counter__amount">
                            <input type="number" class="counter__amount-input" readonly="" value="1">
                        </div>
                        <button class="counter__btn counter__btn--plus" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <button class="food__form-submit" type="submit">
                    Добавить
                </button>
                <button class="food__form-added" type="button">
                    Добавлено
                </button>
            </div>
        </form>
    </div>
</section>