<footer class="page-footer">

    <div class="page-footer__top-wrapper">


        <div class="page-footer__top">
            <div class="page-footer__top-left-col">
                <a href="#" class="page-footer__logo">
                    <img src="/images/logo.svg" alt="" class="page-footer__logo-image">
                </a>
                <div class="page-footer__about">
                    Мы работаем в сфере организации доставки обедов и кейтеринга с 1999 года и отладили образцовый
                    сервис доставки готовых блюд в офис, а также вкусного и сытного питания экскурсионных групп и
                    выездного обслуживания банкетов.
                </div>
                <div class="page-footer__copyright">
                    © 1999 — 2023 «Ланч-Тайм», Москва
                </div>
                <div class="page-footer__address">
                    125310, г. Москва, Ангелов пер,<br> дом № 2, кв.252
                </div>
            </div>
            <div class="page-footer__catalog">
                <div class="page-footer__catalog-block">
                    <h3 class="page-footer__catalog-block-title">
                        Каталог продукции
                    </h3>
                    <ul class="page-footer__catalog-list">
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Багеты и бургеры
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Блины с начинками
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Сэндвичи
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Кулинария в упаковке
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Весовые салаты
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Выпечка в групповой упаковке
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Завтраки
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Готовые вторые блюда
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Салаты 300 г
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Салаты и закуски
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Штучная выпечка
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-footer__catalog-block">
                    <h3 class="page-footer__catalog-block-title">
                        Каталог продукции
                    </h3>
                    <ul class="page-footer__catalog-list">
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Багеты и бургеры
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Блины с начинками
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Сэндвичи
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Кулинария в упаковке
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Весовые салаты
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Выпечка в групповой упаковке
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Завтраки
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Готовые вторые блюда
                            </a>
                        </li>
                        <li class="page-footer__catalog-list-item">
                            <a href="#" class="page-footer__catalog-link">
                                Салаты и закуски
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="page-footer__top-right-col">
                <div class="page-footer__contacts">
                    <div class="page-footer__contacts-content">
                        <div class="page-footer__contacts-phones">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#phone"></use>
                            </svg>
                            <ul class="page-footer__contacts-phones-list">
                                <li class="page-footer__contacts-phones-list-item">
                                    <a href="tel:+74951201189" class="page-footer__contacts-phones-link">
                                        +7 (495) 120-11-89
                                    </a>
                                </li>
                                <li class="page-footer__contacts-phones-list-item">
                                    <a href="tel:+79651059669" class="page-footer__contacts-phones-link">
                                        +7 (965) 105-96-69
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__contacts-schedule">
                            пн.-вс.: с 08:00 до 20:00
                        </div>
                        <a href="mailto:info@obed-office.ru" class="page-footer__contacts-email">info@obed-office.ru</a>
                    </div>
                    <ul class="page-footer__contacts-social-list">
                        <li class="page-footer__contacts-social-list-item">
                            <a href="#" class="page-footer__contacts-social-link">
                                <img src="/images/telegram.svg" alt="" class="page-footer__contacts-social-link-icon">
                            </a>
                        </li>
                        <li class="page-footer__contacts-social-list-item">
                            <a href="#" class="page-footer__contacts-social-link">
                                <img src="/images/skype.svg" alt="" class="page-footer__contacts-social-link-icon">
                            </a>
                        </li>
                        <li class="page-footer__contacts-social-list-item">
                            <a href="#" class="page-footer__contacts-social-link">
                                <img src="/images/mailru.svg" alt="" class="page-footer__contacts-social-link-icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-footer__right-wrapper">


                    <ul class="page-footer__payments-list">
                        <li class="page-footer__payments-list-item">
                            <div class="page-footer__payments-card">
                                <img src="/images/payments/1.svg" alt="" class="page-footer__payments-card-logo">
                            </div>
                        </li>
                        <li class="page-footer__payments-list-item">
                            <div class="page-footer__payments-card">
                                <img src="/images/payments/2.svg" alt="" class="page-footer__payments-card-logo">
                            </div>
                        </li>
                        <li class="page-footer__payments-list-item">
                            <div class="page-footer__payments-card">
                                <img src="/images/payments/3.svg" alt="" class="page-footer__payments-card-logo">
                            </div>
                        </li>
                        <li class="page-footer__payments-list-item">
                            <div class="page-footer__payments-card">
                                <img src="/images/payments/4.svg" alt="" class="page-footer__payments-card-logo">
                            </div>
                        </li>
                        <li class="page-footer__payments-list-item">
                            <div class="page-footer__payments-card">
                                <img src="/images/payments/5.svg" alt="" class="page-footer__payments-card-logo">
                            </div>
                        </li>
                        <li class="page-footer__payments-list-item">
                            <div class="page-footer__payments-card">
                                <img src="/images/payments/6.svg" alt="" class="page-footer__payments-card-logo">
                            </div>
                        </li>
                        <li class="page-footer__payments-list-item">
                            <div class="page-footer__payments-card">
                                <img src="/images/payments/7.svg" alt="" class="page-footer__payments-card-logo">
                            </div>
                        </li>
                        <li class="page-footer__payments-list-item">
                            <div class="page-footer__payments-card">
                                <img src="/images/payments/8.svg" alt="" class="page-footer__payments-card-logo">
                            </div>
                        </li>
                    </ul>
                    <div class="page-footer__subscribe">
                        <form action="/" method="POST" class="page-footer__subscribe-form">
                            <div class="page-footer__subscribe-form-wrapper">
                                <input type="email" name="email" class="page-footer__subscribe-form-input" required=""
                                    placeholder="Ваш e-mail">
                                <button class="page-footer__subscribe-form-submit">
                                    Подписаться
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <a href="#" class="page-footer__scroll-up">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#scroll-top"></use>
            </svg>
            Наверх
        </a>
    </div>
    <div class="page-footer__bottom-wrapper">


        <div class="page-footer__bottom">
            <a href="#" class="page-footer__made-by">
                <img src="/images/madeby.webp" alt="" class="page-footer__made-by-logo">
                <span class="page-footer__made-by-text">
                    Fortex-service.ru<br>
                    разработка и продвижение
                </span>
            </a>
            <div class="page-footer__links">
                <a href="#" class="page-footer__link">
                    Стандарты качества
                </a>
                <a href="#" class="page-footer__link">
                    Политика конфеденциальности
                </a>
                <a href="#" class="page-footer__link">
                    Политика возврата
                </a>
            </div>
            <div class="page-footer__social">
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <img src="/images/vk.svg" alt="" class="page-footer__social-link-logo">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <img src="/images/youtube.svg" alt="" class="page-footer__social-link-logo">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <img src="/images/ok.svg" alt="" class="page-footer__social-link-logo">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <img src="/images/instagram.svg" alt="" class="page-footer__social-link-logo">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</footer>