<header class="page-header">
    <div class="page-header__mobile-menu">

        <div class="page-header__mobile-menu-inner">


            <div class="page-header__top">
                <div class="page-header__top-content">
                    <div class="page-header__top-nav">
                        <ul class="page-header__top-nav-list">
                            <li class="page-header__top-nav-list-item">
                                <a href="#" class="page-header__top-nav-link">
                                    Компания
                                </a>
                            </li>
                            <li class="page-header__top-nav-list-item">
                                <a href="#" class="page-header__top-nav-link">
                                    Статьи
                                </a>
                            </li>
                            <li class="page-header__top-nav-list-item">
                                <a href="#" class="page-header__top-nav-link">
                                    Бонусная программа
                                </a>
                            </li>
                            <li class="page-header__top-nav-list-item">
                                <a href="#" class="page-header__top-nav-link">
                                    Доставка и оплата
                                </a>
                            </li>
                            <li class="page-header__top-nav-list-item">
                                <a href="#" class="page-header__top-nav-link">
                                    Выездное питание
                                </a>
                            </li>
                            <li class="page-header__top-nav-list-item">
                                <a href="#" class="page-header__top-nav-link">
                                    Отзывы
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="#callback-modal" class="page-header__callback js-open-modal">
                        Заказать звонок
                    </a>
                    <div class="page-header__social-wrapper">


                        <ul class="page-header__social-list">
                            <li class="page-header__social-list-item">
                                <a href="#" class="page-header__social-link">
                                    <img src="/images/telegram.svg" alt="" class="page-header__social-link-icon">
                                </a>
                            </li>
                            <li class="page-header__social-list-item">
                                <a href="#" class="page-header__social-link">
                                    <img src="/images/skype.svg" alt="" class="page-header__social-link-icon">
                                </a>
                            </li>
                            <li class="page-header__social-list-item">
                                <a href="#" class="page-header__social-link">
                                    <img src="/images/whatsapp.svg" alt="" class="page-header__social-link-icon">
                                </a>
                            </li>
                        </ul>
                        <a href="#register-modal" class="page-header__login-link js-open-modal">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#user"></use>
                            </svg>
                            Войти
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-header__bottom">
                <div class="page-header__bottom-content">
                    <div class="page-header__bottom-nav">
                        <ul class="page-header__bottom-nav-list">
                            <li class="page-header__bottom-nav-list-item">
                                <a href="#" class="page-header__bottom-nav-link">
                                    <img src="/images/menu/1.svg" alt="" class="page-header__bottom-nav-link-icon">
                                    <span class="page-header__bottom-nav-link-text">
                                        Меню на Текущую
                                        неделю

                                    </span>
                                </a>
                            </li>
                            <li class="page-header__bottom-nav-list-item">
                                <a href="#" class="page-header__bottom-nav-link">
                                    <img src="/images/menu/2.svg" alt="" class="page-header__bottom-nav-link-icon">
                                    <span class="page-header__bottom-nav-link-text">
                                        Меню на следующую
                                        неделю
                                    </span>
                                </a>
                            </li>
                            <li class="page-header__bottom-nav-list-item">
                                <a href="#" class="page-header__bottom-nav-link">
                                    <img src="/images/menu/3.svg" alt="" class="page-header__bottom-nav-link-icon">
                                    <span class="page-header__bottom-nav-link-text">
                                        Комплексные
                                        обеды и бизнес-ланчи
                                    </span>
                                </a>
                            </li>
                            <li class="page-header__bottom-nav-list-item">
                                <a href="#" class="page-header__bottom-nav-link">
                                    <img src="/images/menu/4.svg" alt="" class="page-header__bottom-nav-link-icon">
                                    <span class="page-header__bottom-nav-link-text">
                                        Ресторанные
                                        блюда
                                    </span>
                                </a>
                            </li>
                            <li class="page-header__bottom-nav-list-item">
                                <a href="#" class="page-header__bottom-nav-link">
                                    <img src="/images/menu/5.svg" alt="" class="page-header__bottom-nav-link-icon">
                                    <span class="page-header__bottom-nav-link-text">
                                        Праздничные
                                        блюда
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header__middle">
        <div class="page-header__middle-content">
            <a href="/" class="page-header__logo">
                <img src="/images/logo.svg" alt="" class="page-header__logo-image">
                <img src="/images/kakdoma.svg" alt="" class="page-header__home-image">
            </a>
            <div class="page-header__economy">
                Мы не экономим на Вашем здоровье!<br>
                Готовим <b>без ГМО и СОИ</b>
            </div>
            <a href="#callback-modal" class="page-header__tablet-callback js-open-modal">
                Заказать звонок
            </a>
            <div class="page-header__contacts">
                <div class="page-header__contacts-phones">
                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                        <use xlink:href="#phone"></use>
                    </svg>
                    <ul class="page-header__contacts-phones-list">
                        <li class="page-header__contacts-phones-list-item">
                            <a href="tel:+74951201189" class="page-header__contacts-phones-link">
                                +7 (495) 120-11-89
                            </a>
                        </li>
                        <li class="page-header__contacts-phones-list-item">
                            <a href="tel:+79651059669" class="page-header__contacts-phones-link">
                                +7 (965) 105-96-69
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-header__contacts-schedule">
                    пн.-вс.: с 08:00 до 20:00
                </div>
            </div>
            <a href="#" class="page-header__cart">
                <span class="page-header__cart-amount">
                    3/5000р.
                </span>
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cart"></use>
                </svg>
            </a>

        </div>
    </div>
    <button class="page-header__burger">
        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
            <use xlink:href="#burger-open"></use>
        </svg>
        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
            <use xlink:href="#burger-close"></use>
        </svg>
    </button>

</header>