<section class="healthy-menu">
    <div class="healthy-menu__content">
        <div class="heading-block">
            <h2 class="heading-block__title">
                Меню для здорового питания
            </h2>
        </div>
        <ul class="healthy-menu__list">
            <li class="healthy-menu__list-item">
                <a href="#" class="healthy-menu__card">
                    <div class="healthy-menu__card-image-container">
                        <img src="/images/healthy-menu/1.webp" alt="" class="healthy-menu__card-image">
                    </div>
                    <h3 class="healthy-menu__card-title">
                        Диетическое
                    </h3>
                </a>
            </li>
            <li class="healthy-menu__list-item">
                <a href="#" class="healthy-menu__card">
                    <div class="healthy-menu__card-image-container">
                        <img src="/images/healthy-menu/2.webp" alt="" class="healthy-menu__card-image">
                    </div>
                    <h3 class="healthy-menu__card-title">
                        Постное
                    </h3>
                </a>
            </li>
            <li class="healthy-menu__list-item">
                <a href="#" class="healthy-menu__card">
                    <div class="healthy-menu__card-image-container">
                        <img src="/images/healthy-menu/3.webp" alt="" class="healthy-menu__card-image">
                    </div>
                    <h3 class="healthy-menu__card-title">
                        Вегетарианское
                    </h3>
                </a>
            </li>
            <li class="healthy-menu__list-item">
                <a href="#" class="healthy-menu__card">
                    <div class="healthy-menu__card-image-container">
                        <img src="/images/healthy-menu/4.webp" alt="" class="healthy-menu__card-image">
                    </div>
                    <h3 class="healthy-menu__card-title">
                        Веганское
                    </h3>
                </a>
            </li>
        </ul>
    </div>
</section>