<section class="how-we-work">
    <div class="how-we-work__content">
        <div class="heading-block">
            <h2 class="heading-block__title">
                Как мы работаем
            </h2>
        </div>
        <ol class="how-we-work__list">
            <li class="how-we-work__list-item">
                <div class="how-we-work__card">
                    <div class="how-we-work__card-number">
                        <img src="/images/how-we-work/1.svg" alt="" class="how-we-work__card-icon">
                    </div>
                    <h3 class="how-we-work__card-title">
                        Выберите блюда
                    </h3>
                    <div class="how-we-work__card-text">
                        Более 1500 позиций в меню, и всё для вас!
                    </div>
                </div>
            </li>
            <li class="how-we-work__list-item">
                <div class="how-we-work__card">
                    <div class="how-we-work__card-number">
                        <img src="/images/how-we-work/2.svg" alt="" class="how-we-work__card-icon">
                    </div>
                    <h3 class="how-we-work__card-title">
                        Приготовление
                    </h3>
                    <div class="how-we-work__card-text">
                        Наши повара, под руководством шеф-повара приготовят обед.
                    </div>
                </div>
            </li>
            <li class="how-we-work__list-item">
                <div class="how-we-work__card">
                    <div class="how-we-work__card-number">
                        <img src="/images/how-we-work/3.svg" alt="" class="how-we-work__card-icon">
                    </div>
                    <h3 class="how-we-work__card-title">
                        Доставка
                    </h3>
                    <div class="how-we-work__card-text">
                        Курьеры доставят еду бесплатно при стоимости заказа от 800 руб!
                    </div>
                </div>
            </li>
        </ol>
        <a href="#" class="how-we-work__link">
            Заказать обед
        </a>
    </div>
</section>