<section class="intro">
    <div class="intro__bg">
        <picture>
            <source srcset="/images/intro-mobile.webp" media="(max-width: 640px)" />
            <source srcset="/images/intro-tablet.webp" media="(max-width: 768px)" />
            <img src="/images/intro.webp" alt="MDN" class="intro__bg-image" />


        </picture>
    </div>
    <div class="intro__content">
        <h1 class="intro__heading">
            Почему клиенты
            выбирают Ланч-Тайм?
        </h1>
        <ul class="intro__list">
            <li class="intro__list-item">
                Только натуральные ингридиенты без ГМО и СОИ
            </li>
            <li class="intro__list-item">
                Скидка на комплексные обеды до 20%
            </li>
            <li class="intro__list-item">
                Бесплатная доставка от 900 рублей!
            </li>
            <li class="intro__list-item">
                Готовим по домашним рецептам!
            </li>
            <li class="intro__list-item">
                Меню на любой вкус!
            </li>
        </ul>
        <a href="#" class="intro__link">
            Подробнее
        </a>
    </div>
</section>