<div class="modal js-modal" id="menu-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__menu-modal">
            <h3 class="modal__menu-modal-title">
                Скачать меню (.xls)
            </h3>
            <ul class="modal__menu-list">
                <li class="modal__menu-list-item">
                    <a href="#" class="modal__menu-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#download"></use>
                        </svg>
                        Меню на день
                    </a>
                </li>
                <li class="modal__menu-list-item">
                    <a href="#" class="modal__menu-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#download"></use>
                        </svg>
                        Меню на эту неделю
                    </a>
                </li>
                <li class="modal__menu-list-item">
                    <a href="#" class="modal__menu-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#download"></use>
                        </svg>
                        Меню на следующую неделю
                    </a>
                </li>
                <li class="modal__menu-list-item">
                    <a href="#" class="modal__menu-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#download"></use>
                        </svg>
                        Меню на день от А до Я
                    </a>
                </li>
                <li class="modal__menu-list-item">
                    <a href="#" class="modal__menu-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#download"></use>
                        </svg>
                        Меню на эту неделю от А до Я
                    </a>
                </li>
                <li class="modal__menu-list-item">
                    <a href="#" class="modal__menu-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#download"></use>
                        </svg>
                        Меню на следующую неделю от А до Я
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal js-modal" id="callback-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__callback">
            <h3 class="modal__callback-title">
                Заказать звонок
            </h3>
            <form action="/" method="POST" class="modal__callback-form" data-need-validation="">
                <div class="modal__callback-form-fields">
                    <div class="modal__callback-form-field">
                        <input type="text" class="modal__callback-form-input" placeholder="Ваше имя*" required="">
                    </div>
                    <div class="modal__callback-form-field">
                        <input type="tel" class="modal__callback-form-input js-phone-input" placeholder="Телефон*"
                            required="" data-parsley-phone="">
                    </div>
                    <div class="modal__callback-form-field">
                        <textarea class="modal__callback-form-input"></textarea>
                    </div>
                </div>
                <div class="modal__callback-policy">
                    <label class="modal__callback-policy-checkbox">
                        <input type="checkbox" name="your-policy" class="modal__callback-policy-checkbox-input"
                            required="" checked="">
                        <span class="modal__callback-policy-checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="modal__callback-policy-checkbox-text">
                            Отправляя форму вы принимаете <a href="#">условия передачи информации</a>
                        </span>
                    </label>
                </div>
                <button class="modal__callback-submit" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="register-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__callback">
            <h3 class="modal__callback-title">
                Зарегистрироваться
            </h3>
            <form method="POST" action="/" class="modal__callback-form" data-need-validation="">
                <div class="modal__callback-form-fields">
                    <div class="modal__callback-form-field">
                        <input type="text" class="modal__callback-form-input" placeholder="Название компании*"
                            required="">
                    </div>
                    <div class="modal__callback-form-field">
                        <input type="text" class="modal__callback-form-input" placeholder="Имя*" required="">
                    </div>
                    <div class="modal__callback-form-field">
                        <input type="tel" class="modal__callback-form-input js-phone-input" placeholder="Телефон*"
                            required="" data-parsley-phone="">
                    </div>
                    <div class="modal__callback-form-field">
                        <input type="email" class="modal__callback-form-input" placeholder="Email*" required="">
                    </div>
                    <div class="modal__callback-form-field">
                        <input type="password" class="modal__callback-form-input" placeholder="Пароль*" required="">
                    </div>
                    <div class="modal__callback-form-field">
                        <input type="password" class="modal__callback-form-input" placeholder="Повтрите пароль*"
                            required="">
                    </div>
                    <div class="modal__callback-form-field">
                        <input type="text" class="modal__callback-form-input" placeholder="Адрес доставки*" required="">
                    </div>
                </div>
                <div class="modal__register-btns">
                    <a href="#" class="modal__register-btn">
                        Забыли пароль?
                    </a>
                    <a href="#" class="modal__register-btn">
                        Авторизация
                    </a>
                </div>
                <div class="modal__callback-policy">
                    <label class="modal__callback-policy-checkbox">
                        <input type="checkbox" name="your-policy" class="modal__callback-policy-checkbox-input"
                            required="" checked="">
                        <span class="modal__callback-policy-checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="modal__callback-policy-checkbox-text">
                            Отправляя форму вы принимаете <a href="#">условия передачи информации</a>
                        </span>
                    </label>
                </div>
                <button class="modal__callback-submit" type="submit">
                    Зарегистрироваться
                </button>
            </form>
        </div>
    </div>
</div>

<div class="modal js-modal" id="dish-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__dish-modal">
            <h3 class="modal__dish-modal-heading">
                Слойка с яблоком, 50 гр
            </h3>
            <div class="modal__dish-modal-image-wrapper">
                <img src="/images/dish-modal.webp" alt="" class="modal__dish-modal-image">
            </div>
            <div class="modal__dish-modal-row">
                <div class="modal__dish-modal-text-content">
                    <h3 class="modal__dish-modal-name">
                        Слойка с яблоком, 50 гр
                    </h3>
                    <div class="modal__dish-modal-ingredients">
                        Состав: слоёное тесто, яблоко, сахар
                    </div>
                    <div class="modal__dish-modal-components">
                        Вес: 50 гр, КБЖУ: 31.76 / 0.79 / 0.65 / 5.69
                    </div>
                    <div class="modal__dish-modal-add-to-cart js-add-to-cart-wrapper">
                        <button class="modal__dish-modal-add-to-cart-btn js-add-to-cart" type="button">
                            В корзину
                        </button>
                        <form method="POST" action="/" class="modal__dish-modal-add-to-cart-counter-wrapper">
                            <div class="modal__dish-modal-add-to-cart-counter">
                                <div class="counter" data-min="1">
                                    <button class="counter__btn counter__btn--minus" type="button">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#minus"></use>
                                        </svg>
                                    </button>
                                    <div class="counter__amount">
                                        <input type="number" class="counter__amount-input" readonly="" value="1">
                                    </div>
                                    <button class="counter__btn counter__btn--plus" type="button">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <button class="modal__dish-modal-add-to-cart-counter-submit" type="submit">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#ok"></use>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal__dish-modal-tags">
                    <ul class="modal__dish-modal-tags-list">
                        <li class="modal__dish-modal-tags-list-item">
                            <div class="modal__dish-modal-tag">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#tags-7"></use>
                                </svg>
                            </div>
                        </li>
                        <li class="modal__dish-modal-tags-list-item">
                            <div class="modal__dish-modal-tag">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#tags-2"></use>
                                </svg>
                            </div>
                        </li>
                        <li class="modal__dish-modal-tags-list-item">
                            <div class="modal__dish-modal-tag">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#tags-8"></use>
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="cart js-modal" id="cart-modal">
    <div class="cart__inner">
        <button class="cart__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="cart__content">
            <div class="cart__order">
                <h3 class="cart__order-name">
                    Заказ на 13.04.2023
                </h3>
                <div class="cart__order-date">
                    Принимается до 17:00
                </div>
            </div>
            <div class="cart__days">
                <div class="cart__days-wrapper">
                    <a href="#" class="cart__days-btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </a>
                    <div class="cart__days-items">
                        <a href="#" class="cart__day">
                            ПН
                        </a>
                        <a href="#" class="cart__day">
                            ВТ
                        </a>
                        <a href="#" class="cart__day">
                            СР
                        </a>
                        <a href="#" class="cart__day">
                            ЧТ
                        </a>
                        <a href="#" class="cart__day">
                            ПТ
                        </a>
                        <a href="#" class="cart__day active">
                            СБ
                        </a>
                        <a href="#" class="cart__day">
                            ВС
                        </a>
                    </div>
                    <a href="#" class="cart__days-btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="cart__row">
                <div class="cart__left-col">
                    <div class="cart__order-dishes">
                        <div class="cart__order-dishes-wrapper">
                            <div class="cart__order-dishes-block">
                                <h3 class="cart__order-dishes-title">
                                    Вторые блюда
                                </h3>
                                <ul class="cart__order-dishes-list">
                                    <li class="cart__order-dishes-list-item">
                                        <div class="cart__order-dishes-card">
                                            <h4 class="cart__order-dishes-card-title">
                                                Конвертик с курицей и сыром сулугуни
                                            </h4>
                                            <div class="cart__order-dishes-card-row">
                                                <div class="counter" data-min="1">
                                                    <button class="counter__btn counter__btn--minus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="counter__amount">
                                                        <input type="number" class="counter__amount-input" readonly=""
                                                            value="1">
                                                    </div>
                                                    <button class="counter__btn counter__btn--plus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="cart__order-dishes-card-price">
                                                    310 руб.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__order-dishes-list-item">
                                        <div class="cart__order-dishes-card">
                                            <h4 class="cart__order-dishes-card-title">
                                                Шашлык куриный с баклажанами и гречневой лапшой
                                            </h4>
                                            <div class="cart__order-dishes-card-row">
                                                <div class="counter" data-min="1">
                                                    <button class="counter__btn counter__btn--minus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="counter__amount">
                                                        <input type="number" class="counter__amount-input" readonly=""
                                                            value="2">
                                                    </div>
                                                    <button class="counter__btn counter__btn--plus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="cart__order-dishes-card-price">
                                                    320 руб.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__order-dishes-list-item">
                                        <div class="cart__order-dishes-card">
                                            <h4 class="cart__order-dishes-card-title">
                                                Шашлык куриный с баклажанами и гречневой лапшой
                                            </h4>
                                            <div class="cart__order-dishes-card-row">
                                                <div class="counter" data-min="1">
                                                    <button class="counter__btn counter__btn--minus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="counter__amount">
                                                        <input type="number" class="counter__amount-input" readonly=""
                                                            value="2">
                                                    </div>
                                                    <button class="counter__btn counter__btn--plus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="cart__order-dishes-card-price">
                                                    320 руб.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__order-dishes-list-item">
                                        <div class="cart__order-dishes-card">
                                            <h4 class="cart__order-dishes-card-title">
                                                Шашлык куриный с баклажанами и гречневой лапшой
                                            </h4>
                                            <div class="cart__order-dishes-card-row">
                                                <div class="counter" data-min="1">
                                                    <button class="counter__btn counter__btn--minus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="counter__amount">
                                                        <input type="number" class="counter__amount-input" readonly=""
                                                            value="2">
                                                    </div>
                                                    <button class="counter__btn counter__btn--plus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="cart__order-dishes-card-price">
                                                    320 руб.
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="cart__order-dishes-block">
                                <h3 class="cart__order-dishes-title">
                                    Салаты и закуски
                                </h3>
                                <ul class="cart__order-dishes-list">
                                    <li class="cart__order-dishes-list-item">
                                        <div class="cart__order-dishes-card">
                                            <h4 class="cart__order-dishes-card-title">
                                                Бутерброд с колбасой
                                            </h4>
                                            <div class="cart__order-dishes-card-row">
                                                <div class="counter" data-min="1">
                                                    <button class="counter__btn counter__btn--minus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="counter__amount">
                                                        <input type="number" class="counter__amount-input" readonly=""
                                                            value="2">
                                                    </div>
                                                    <button class="counter__btn counter__btn--plus" type="button">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-cross">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="cart__order-dishes-card-price">
                                                    250 руб.
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart__right-col">
                    <div class="cart__order-total">
                        <div class="cart__order-total-amount">
                            Сумма: 671 руб.
                        </div>
                        <div class="cart__order-total-quantity">
                            Кол-во блюд: 4
                        </div>
                        <div class="cart__order-total-warning">
                            Ваш заказ не оформлен!
                        </div>
                    </div>
                    <div class="cart__order-checkout">
                        <button class="cart__order-checkout-submit">
                            Оформить
                        </button>
                        <div class="cart__order-checkout-timer">
                            <div class="cart__order-checkout-timer-text">
                                Успейте оформить доставку на завтра!
                            </div>
                            <div class="cart__order-checkout-timer-clock js-countdown-timer"
                                data-deadline="August 16 2024">
                                <div class="cart__order-checkout-timer-clock-item">
                                    <div class="cart__order-checkout-timer-clock-item-amount js-hours">

                                    </div>
                                    <div class="cart__order-checkout-timer-clock-item-units">
                                        час.
                                    </div>
                                </div>
                                <span>:</span>
                                <div class="cart__order-checkout-timer-clock-item">
                                    <div class="cart__order-checkout-timer-clock-item-amount js-minutes">

                                    </div>
                                    <div class="cart__order-checkout-timer-clock-item-units">
                                        мин.
                                    </div>
                                </div>
                                <span>:</span>
                                <div class="cart__order-checkout-timer-clock-item">
                                    <div class="cart__order-checkout-timer-clock-item-amount js-seconds">

                                    </div>
                                    <div class="cart__order-checkout-timer-clock-item-units">
                                        сек.
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>