<section class="not-found">
    <div class="not-found__content">
        <div class="page-top">
            <div class="breadcrumbs">
                <a href="#">
                    Главная</a>
                <a href="#" class="active">
                    Страница</a>
            </div>
            {{> sharing }}
        </div>

        <div class="not-found__text-content">
            <div class="not-found__code">
                404
            </div>
            <div class="not-found__text">
                Неправильно набран адрес, или такой страницы на сайте больше не существует.
            </div>
            <div class="not-found__back">
                Вернитесь на <a href="#">главную</a>
            </div>
        </div>

    </div>
</section>