<section class="partners js-partners-slider">
    <div class="partners__content">
        <div class="heading-block">
            <h2 class="heading-block__title">
                Нам доверяют
            </h2>
        </div>
        <div class="partners__slider">
            <button class="partners__slider-arrow partners__slider-arrow--prev">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <div class="partners__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/1.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    Henkel
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/2.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    СМ-Клиника
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/3.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    Hilti
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/4.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    Бест Клиник
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/5.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    Christian Hansen
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/6.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    BORK
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/1.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    Henkel
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/2.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    СМ-Клиника
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/3.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    Hilti
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/4.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    Бест Клиник
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/5.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    Christian Hansen
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partners__slider-card">
                                <div class="partners__slider-card-image-container">
                                    <img src="/images/partners/6.webp" alt="" class="partners__slider-card-image">
                                </div>
                                <h3 class="partners__slider-card-title">
                                    BORK
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="partners__slider-arrow partners__slider-arrow--next">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>