<section class="rating">
    <picture>
        <source srcset="/images/rating-mobile.webp" media="(max-width: 640px)" />
        <source srcset="/images/rating-tablet.webp" media="(max-width: 768px)" />
        <img src="/images/rating.webp" alt="MDN" class="rating__bg" />
    </picture>
    <div class="rating__content">
        <div class="rating__text-content">
            <h2 class="rating__heading">
                Рейтинг популярных блюд
                в графике
            </h2>
            <div class="rating__text">
                <p>
                    Сложно определиться с выбором блюд?
                </p>
                <p>
                    Наш график-рейтинг самых популярных блюд поможет вам!
                </p>
            </div>
            <a href="#" class="rating__link">
                Популярные блюда
            </a>
        </div>
    </div>
</section>