<section class="reviews-page">
    <div class="reviews-page__content">
        <div class="page-top">
            <div class="breadcrumbs">
                <a href="#">
                    Главная</a><a href="#" class="active">
                    Страница</a>
            </div>
            {{> sharing }}
        </div>

        <div class="reviews-page__inner">
            <h1 class="reviews-page__heading">
                Отзывы
            </h1>
            <ul class="reviews-page__list">
                <li class="reviews-page__list-item">
                    <div class="reviews-page__card">
                        <div class="reviews-page__card-date">
                            10.08.2020 08:20:38
                        </div>
                        <div class="reviews-page__card-top-row">
                            <div class="reviews-page__card-author">
                                <div class="reviews-page__card-author-name">
                                    Александр Климашев
                                </div>
                                <div class="reviews-page__card-author-company">
                                    (STUDIO AVI)
                                </div>
                            </div>
                            <div class="reviews-page__card-rating">
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-page__card-text">
                            Очень понравилась обстановка и внимательный, дружелюбный персонал. Общая атмосфера и
                            качество сервиса располагают стать постоянным клиентом этого приятного места. Спасибо за
                            вкусное и недорогое питание!
                        </div>

                    </div>
                </li>
                <li class="reviews-page__list-item">
                    <div class="reviews-page__card">
                        <div class="reviews-page__card-date">
                            10.08.2020 08:20:38
                        </div>
                        <div class="reviews-page__card-top-row">
                            <div class="reviews-page__card-author">
                                <div class="reviews-page__card-author-name">
                                    Александр Климашев
                                </div>
                                <div class="reviews-page__card-author-company">
                                    (STUDIO AVI)
                                </div>
                            </div>
                            <div class="reviews-page__card-rating">
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-page__card-text">
                            Очень понравилась обстановка и внимательный, дружелюбный персонал. Общая атмосфера и
                            качество сервиса располагают стать постоянным клиентом этого приятного места. Спасибо за
                            вкусное и недорогое питание!
                        </div>

                    </div>
                </li>
                <li class="reviews-page__list-item">
                    <div class="reviews-page__card">
                        <div class="reviews-page__card-date">
                            10.08.2020 08:20:38
                        </div>
                        <div class="reviews-page__card-top-row">
                            <div class="reviews-page__card-author">
                                <div class="reviews-page__card-author-name">
                                    Александр Климашев
                                </div>
                                <div class="reviews-page__card-author-company">
                                    (STUDIO AVI)
                                </div>
                            </div>
                            <div class="reviews-page__card-rating">
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-page__card-text">
                            Очень понравилась обстановка и внимательный, дружелюбный персонал. Общая атмосфера и
                            качество сервиса располагают стать постоянным клиентом этого приятного места. Спасибо за
                            вкусное и недорогое питание!
                        </div>

                    </div>
                </li>
                <li class="reviews-page__list-item">
                    <div class="reviews-page__card">
                        <div class="reviews-page__card-date">
                            10.08.2020 08:20:38
                        </div>
                        <div class="reviews-page__card-top-row">
                            <div class="reviews-page__card-author">
                                <div class="reviews-page__card-author-name">
                                    Александр Климашев
                                </div>
                                <div class="reviews-page__card-author-company">
                                    (STUDIO AVI)
                                </div>
                            </div>
                            <div class="reviews-page__card-rating">
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-page__card-text">
                            Очень понравилась обстановка и внимательный, дружелюбный персонал. Общая атмосфера и
                            качество сервиса располагают стать постоянным клиентом этого приятного места. Спасибо за
                            вкусное и недорогое питание!
                        </div>

                    </div>
                </li>
                <li class="reviews-page__list-item">
                    <div class="reviews-page__card">
                        <div class="reviews-page__card-date">
                            10.08.2020 08:20:38
                        </div>
                        <div class="reviews-page__card-top-row">
                            <div class="reviews-page__card-author">
                                <div class="reviews-page__card-author-name">
                                    Александр Климашев
                                </div>
                                <div class="reviews-page__card-author-company">
                                    (STUDIO AVI)
                                </div>
                            </div>
                            <div class="reviews-page__card-rating">
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-page__card-text">
                            Очень понравилась обстановка и внимательный, дружелюбный персонал. Общая атмосфера и
                            качество сервиса располагают стать постоянным клиентом этого приятного места. Спасибо за
                            вкусное и недорогое питание!
                        </div>

                    </div>
                </li>
                <li class="reviews-page__list-item">
                    <div class="reviews-page__card">
                        <div class="reviews-page__card-date">
                            10.08.2020 08:20:38
                        </div>
                        <div class="reviews-page__card-top-row">
                            <div class="reviews-page__card-author">
                                <div class="reviews-page__card-author-name">
                                    Александр Климашев
                                </div>
                                <div class="reviews-page__card-author-company">
                                    (STUDIO AVI)
                                </div>
                            </div>
                            <div class="reviews-page__card-rating">
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="reviews-page__card-rating-star reviews-page__card-rating-star--filled">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-page__card-text">
                            Очень понравилась обстановка и внимательный, дружелюбный персонал. Общая атмосфера и
                            качество сервиса располагают стать постоянным клиентом этого приятного места. Спасибо за
                            вкусное и недорогое питание!
                        </div>

                    </div>
                </li>
            </ul>
            <div class="pagination">
                <a href="#" class="pagination__prev">
                </a>
                <div class="pagination__links">
                    <a href="#" class="current">
                        1
                    </a>
                    <a href="#">
                        2
                    </a>
                    <a href="#">
                        3
                    </a>
                    <a href="#">
                        ...
                    </a>
                    <a href="#">
                        20
                    </a>
                </div>
                <a href="#" class="pagination__next">
                </a>
            </div>
        </div>

    </div>
</section>