<section class="reviews">
    <div class="reviews__content">
        <div class="heading-block">
            <h2 class="heading-block__title">
                Отзывы наших клиентов
            </h2>
        </div>
        <div class="reviews__slider js-reviews-slider">
            <button class="reviews__slider-arrow reviews__slider-arrow--prev">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <div class="reviews__slider-wrapper">


                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/images/reviews/1.webp" class="reviews__slider-card" data-fancybox="reviews">
                                <div class="reviews__slider-card-image-container">
                                    <img src="/images/reviews/1.webp" alt="" class="reviews__slider-card-image">
                                </div>
                                <div class="reviews__slider-card-content">
                                    <h3 class="reviews__slider-card-title">
                                        Деловой бизнес – центр «Успенский»
                                    </h3>
                                    <div class="reviews__slider-card-text">
                                        «Ланч-тайм» - компания, отлично зарекомендовавшая себя в сфере вкусного и
                                        доступного
                                        питания с доставкой в офис. Более 15 лет успешной работы на рынке доставки
                                        обедов
                                        позволяют нам с гордостью утверждать, что мы – профессионалы своего дела.
                                        Выбирая
                                        «Ланч-тайм», вы обеспечиваете свой коллектив качественной, вкусной, домашней
                                        едой
                                        без консервантов, химических добавок и сои.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/reviews/2.webp" class="reviews__slider-card" data-fancybox="reviews">
                                <div class="reviews__slider-card-image-container">
                                    <img src="/images/reviews/2.webp" alt="" class="reviews__slider-card-image">
                                </div>
                                <div class="reviews__slider-card-content">
                                    <h3 class="reviews__slider-card-title">
                                        Клиника постстрессовых состояний
                                    </h3>
                                    <div class="reviews__slider-card-text">
                                        Выбирая «Ланч-тайм», вы обеспечиваете свой коллектив качественной, вкусной,
                                        домашней
                                        едой без консервантов, химических добавок и сои.
                                        «Ланч-тайм» - компания, отлично зарекомендовавшая себя в сфере вкусного и
                                        доступного
                                        питания с доставкой в офис. Более 15 лет успешной работы на рынке доставки
                                        обедов
                                        позволяют нам с гордостью утверждать, что мы – профессионалы своего дела.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/reviews/1.webp" class="reviews__slider-card" data-fancybox="reviews">
                                <div class="reviews__slider-card-image-container">
                                    <img src="/images/reviews/1.webp" alt="" class="reviews__slider-card-image">
                                </div>
                                <div class="reviews__slider-card-content">
                                    <h3 class="reviews__slider-card-title">
                                        Деловой бизнес – центр «Успенский»
                                    </h3>
                                    <div class="reviews__slider-card-text">
                                        «Ланч-тайм» - компания, отлично зарекомендовавшая себя в сфере вкусного и
                                        доступного
                                        питания с доставкой в офис. Более 15 лет успешной работы на рынке доставки
                                        обедов
                                        позволяют нам с гордостью утверждать, что мы – профессионалы своего дела.
                                        Выбирая
                                        «Ланч-тайм», вы обеспечиваете свой коллектив качественной, вкусной, домашней
                                        едой
                                        без консервантов, химических добавок и сои.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/reviews/2.webp" class="reviews__slider-card" data-fancybox="reviews">
                                <div class="reviews__slider-card-image-container">
                                    <img src="/images/reviews/2.webp" alt="" class="reviews__slider-card-image">
                                </div>
                                <div class="reviews__slider-card-content">
                                    <h3 class="reviews__slider-card-title">
                                        Клиника постстрессовых состояний
                                    </h3>
                                    <div class="reviews__slider-card-text">
                                        Выбирая «Ланч-тайм», вы обеспечиваете свой коллектив качественной, вкусной,
                                        домашней
                                        едой без консервантов, химических добавок и сои.
                                        «Ланч-тайм» - компания, отлично зарекомендовавшая себя в сфере вкусного и
                                        доступного
                                        питания с доставкой в офис. Более 15 лет успешной работы на рынке доставки
                                        обедов
                                        позволяют нам с гордостью утверждать, что мы – профессионалы своего дела.
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <button class="reviews__slider-arrow reviews__slider-arrow--next">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>