<div class="sharing">
    <div class="sharing__btn">
        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
            <use xlink:href="#social"></use>
        </svg>
    </div>
    <div class="sharing__dropdown">
        <div class="sharing__dropdown-inner">
            <div class="sharing__title">
                Поделиться:
            </div>
            <ul class="sharing__list">
                <li class="sharing__list-item">
                    <a href="#" class="sharing__link">
                        <img src="/images/sharing/1.svg" alt="" class="sharing__link-icon">
                    </a>
                </li>
                <li class="sharing__list-item">
                    <a href="#" class="sharing__link">
                        <img src="/images/sharing/2.svg" alt="" class="sharing__link-icon">
                    </a>
                </li>
                <li class="sharing__list-item">
                    <a href="#" class="sharing__link">
                        <img src="/images/sharing/3.svg" alt="" class="sharing__link-icon">
                    </a>
                </li>
                <li class="sharing__list-item">
                    <a href="#" class="sharing__link">
                        <img src="/images/sharing/4.svg" alt="" class="sharing__link-icon">
                    </a>
                </li>
                <li class="sharing__list-item">
                    <a href="#" class="sharing__link">
                        <img src="/images/sharing/5.svg" alt="" class="sharing__link-icon">
                    </a>
                </li>
                <li class="sharing__list-item">
                    <a href="#" class="sharing__link">
                        <img src="/images/sharing/6.svg" alt="" class="sharing__link-icon">
                    </a>
                </li>
                <li class="sharing__list-item">
                    <a href="#" class="sharing__link">
                        <img src="/images/sharing/7.svg" alt="" class="sharing__link-icon">
                    </a>
                </li>
                <li class="sharing__list-item">
                    <a href="#" class="sharing__link">
                        <img src="/images/sharing/8.svg" alt="" class="sharing__link-icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>