<section class="tasty">
    <div class="tasty__content">
        <div class="heading-block heading-block--align-left">
            <h2 class="heading-block__title">
                Почему наши обеды самые вкусные
            </h2>
        </div>
        <div class="tasty__row">
            <div class="tasty__text">
                «Ланч-тайм» - компания, отлично зарекомендовавшая себя в сфере вкусного и доступного питания с доставкой
                в офис. Более 20 лет успешной работы на рынке доставки обедов позволяют нам с гордостью утверждать, что
                мы – профессионалы своего дела. Выбирая «Ланч-тайм», вы обеспечиваете свой коллектив качественной,
                вкусной, домашней едой без консервантов, химических добавок и сои. Грамотно организованное питание
                сотрудников – залог успешной и эффективной работы вашей компании!
            </div>
            <ul class="tasty__list">
                <li class="tasty__list-item">
                    <div class="tasty__card">
                        <img src="/images/tasty/1.svg" alt="" class="tasty__card-icon">
                        <h3 class="tasty__card-title">
                            Натуральность и Контроль качества
                        </h3>
                        <div class="tasty__card-text">
                            Без гормонов роста, антибиотиков и искусственных добавок.
                        </div>
                    </div>
                </li>
                <li class="tasty__list-item">
                    <div class="tasty__card">
                        <img src="/images/tasty/2.svg" alt="" class="tasty__card-icon">
                        <h3 class="tasty__card-title">
                            Упаковано по готовности
                        </h3>
                        <div class="tasty__card-text">
                            Поставляется свежим, готовым к разогреванию и подаче.
                        </div>
                    </div>
                </li>
                <li class="tasty__list-item">
                    <div class="tasty__card">
                        <img src="/images/tasty/3.svg" alt="" class="tasty__card-icon">
                        <h3 class="tasty__card-title">
                            Вкусно как дома!
                        </h3>
                        <div class="tasty__card-text">
                            Готовим по домашним рецептам.
                        </div>
                    </div>
                </li>
                <li class="tasty__list-item">
                    <div class="tasty__card">
                        <img src="/images/tasty/4.svg" alt="" class="tasty__card-icon">
                        <h3 class="tasty__card-title">
                            Без ГМО
                        </h3>
                        <div class="tasty__card-text">
                            Наши блюда не содержат ГМО.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>