<section class="useful-articles">
    <div class="useful-articles__content">
        <div class="heading-block">
            <h2 class="heading-block__title">
                Полезные советы и статьи
            </h2>
            <div class="heading-block__text">
                Советы и рецепты от шеф-поваров
            </div>
        </div>
        <div class="useful-articles__slider js-useful-articles-slider">
            <button class="useful-articles__slider-arrow useful-articles__slider-arrow--prev">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>

            <div class="useful-articles__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="useful-articles__card">
                                <div class="useful-articles__card-image-container">
                                    <img src="/images/useful-articles/1.webp" alt=""
                                        class="useful-articles__card-image">
                                </div>
                                <div class="useful-articles__card-date">
                                    19 Ноября 2022
                                </div>
                                <h3 class="useful-articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="useful-articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="useful-articles__card">
                                <div class="useful-articles__card-image-container">
                                    <img src="/images/useful-articles/2.webp" alt=""
                                        class="useful-articles__card-image">
                                </div>
                                <div class="useful-articles__card-date">
                                    19 Ноября 2022
                                </div>
                                <h3 class="useful-articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="useful-articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="useful-articles__card">
                                <div class="useful-articles__card-image-container">
                                    <img src="/images/useful-articles/3.webp" alt=""
                                        class="useful-articles__card-image">
                                </div>
                                <div class="useful-articles__card-date">
                                    19 Ноября 2022
                                </div>
                                <h3 class="useful-articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="useful-articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="useful-articles__card">
                                <div class="useful-articles__card-image-container">
                                    <img src="/images/useful-articles/4.webp" alt=""
                                        class="useful-articles__card-image">
                                </div>
                                <div class="useful-articles__card-date">
                                    19 Ноября 2022
                                </div>
                                <h3 class="useful-articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="useful-articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="useful-articles__card">
                                <div class="useful-articles__card-image-container">
                                    <img src="/images/useful-articles/5.webp" alt=""
                                        class="useful-articles__card-image">
                                </div>
                                <div class="useful-articles__card-date">
                                    19 Ноября 2022
                                </div>
                                <h3 class="useful-articles__card-title">
                                    Оперативная доставка еды в офис и на дом
                                </h3>
                                <div class="useful-articles__card-text">
                                    Людям, живущим одним и большую часть времени проводящим вне дома, зачастую некогда
                                    готовить.
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="useful-articles__slider-arrow useful-articles__slider-arrow--next">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
        <a href="#" class="useful-articles__more-link">
            Читать все статьи
        </a>
    </div>
</section>