<section class="user-account">
    <div class="user-account__content">
        <div class="page-top">
            <div class="breadcrumbs">
                <a href="#">
                    Главная</a>
                <a href="#" class="active">
                    Мои заказы</a>
            </div>
            {{> sharing }}
        </div>

        <div class="user-account__inner">
            <h1 class="user-account__heading">
                Мои заказы
            </h1>
            <div class="user-account__row">
                <div class="user-account__left-col">
                    <div class="user-account__nav">
                        <ul class="user-account__nav-list">
                            <li class="user-account__nav-list-item">
                                <a href="#" class="user-account__nav-link ">
                                    Личные данные
                                </a>
                            </li>
                            <li class="user-account__nav-list-item">
                                <a href="#" class="user-account__nav-link">
                                    Информация о компании
                                </a>
                            </li>
                            <li class="user-account__nav-list-item">
                                <a href="#" class="user-account__nav-link active">
                                    Мои заказы
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user-account__right-col">
                    <div class="user-account__orders">
                        <h2 class="user-account__orders-heading">
                            Мои заказы
                        </h2>
                        <div class="user-account__orders-blocks">
                            <div class="user-account__orders-block">
                                <div class="user-account__orders-block-date">
                                    Чт. 14.07.2024
                                </div>
                                <div class="user-account__orders-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>
                                                    №
                                                </th>
                                                <th>
                                                    Название блюда
                                                </th>
                                                <th>
                                                    <span class="desktop-text">
                                                        Количество
                                                    </span>
                                                    <span class="mobile-text">
                                                        Кол-во
                                                    </span>

                                                </th>
                                                <th>
                                                    Цена
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Зразы картофельные с овощным соусом Постн. 180/30
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    250 руб.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Зразы картофельные с овощным соусом Постн. 180/30
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    250 руб.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Зразы картофельные с овощным соусом Постн. 180/30
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    250 руб.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Зразы картофельные с овощным соусом Постн. 180/30
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    250 руб.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="user-account__orders-block-payment">
                                    <div class="user-account__orders-block-payment-pending">
                                        Ожидается оплата
                                    </div>
                                    <a href="#" class="user-account__orders-block-payment-link">
                                        Оплатить
                                    </a>
                                    <div class="user-account__orders-block-payment-total">
                                        Общая стоимость: 1000 руб.
                                    </div>
                                </div>
                            </div>
                            <div class="user-account__orders-block">
                                <div class="user-account__orders-block-date">
                                    Чт. 14.07.2024
                                </div>
                                <div class="user-account__orders-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>
                                                    №
                                                </th>
                                                <th>
                                                    Название блюда
                                                </th>
                                                <th>
                                                    <span class="desktop-text">
                                                        Количество
                                                    </span>
                                                    <span class="mobile-text">
                                                        Кол-во
                                                    </span>
                                                </th>
                                                <th>
                                                    Количество
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Зразы картофельные с овощным соусом Постн. 180/30
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    250 руб.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Зразы картофельные с овощным соусом Постн. 180/30
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    250 руб.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Зразы картофельные с овощным соусом Постн. 180/30
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    250 руб.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Зразы картофельные с овощным соусом Постн. 180/30
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    250 руб.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="user-account__orders-block-payment">
                                    <div class="user-account__orders-block-payment-pending">
                                        Ожидается оплата
                                    </div>
                                    <a href="#" class="user-account__orders-block-payment-link">
                                        Оплатить
                                    </a>
                                    <div class="user-account__orders-block-payment-total">
                                        Общая стоимость: 1000 руб.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <a href="#" class="pagination__prev">
                        </a>
                        <div class="pagination__links">
                            <a href="#" class="current">
                                1
                            </a>
                            <a href="#">
                                2
                            </a>
                            <a href="#">
                                3
                            </a>
                            <a href="#">
                                ...
                            </a>
                            <a href="#">
                                20
                            </a>
                        </div>
                        <a href="#" class="pagination__next">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>