<section class="why-us">
    <div class="why-us__content">
        <h2 class="why-us__heading">
            Ланч-Тайм в цифрах
        </h2>
        <ul class="why-us__list">
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-amount">
                        0%
                    </div>
                    <div class="why-us__card-text">
                        Доля консервантов и ГМО в ваших блюдах
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-amount">
                        20
                        <span class="why-us__card-amount-text">
                            лет
                        </span>
                    </div>
                    <div class="why-us__card-text">
                        Успешно работаем на рынке доставки обедов
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-amount">
                        80
                        <span class="why-us__card-amount-text">
                            блюд
                        </span>
                    </div>
                    <div class="why-us__card-text">
                        Есть в меню на&nbsp;каждый день
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-amount">
                        210
                        <span class="why-us__card-amount-text">
                            рублей
                        </span>
                    </div>
                    <div class="why-us__card-text">
                        Стоимость обеда из&nbsp;4-х блюд
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-amount">
                        830k

                    </div>
                    <div class="why-us__card-text">
                        Пожеланий «Приятного аппетита!»
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>