.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 500;
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  opacity: 0;
  visibility: hidden;
  padding: 4rem var(--content-padding);
  body:not(.loaded) & {
    display: none;
  }
  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }
}

.modal__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  background-color: #fff;
  border-radius: 0.8rem;
  max-width: 46.2rem;
  width: 100%;
  position: relative;
  color: var(--text-color);
  &--food {
    max-width: 110rem;
  }
}

.modal__food {
  display: flex;
  flex-direction: column;

  padding: 7rem;
  padding-top: 4rem;
  padding-bottom: 5.3rem;

  @include breakpoint(small-tablet) {
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @include breakpoint(mobile) {
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 4.4rem;
  }
}

.modal__food-heading {
  padding-bottom: 2.8rem;
  text-align: center;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 3.7rem;
  @include breakpoint(small-tablet) {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 3rem;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    height: 0.3rem;
    background-color: var(--light-green);
    width: 9rem;
  }
}

.modal__close {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #6f6f6f;
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.modal__menu-modal {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  padding-bottom: 5.2rem;

  @include breakpoint(mobile) {
    padding: 2.4rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-top: 5.4rem;
    padding-bottom: 4.2rem;
  }
}

.modal__menu-modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  line-height: 120%;
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    margin-bottom: 2rem;
  }
}

.modal__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.modal__menu-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--light-green);

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    gap: 0.8rem;
  }
  &:link,
  &:visited {
    color: var(--light-green);
  }
  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }
}

.modal__callback {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-bottom: 5rem;
  padding-top: 2.4rem;

  @include breakpoint(mobile) {
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 4.4rem;
  }
}

.modal__callback-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  text-align: center;
  margin-bottom: 3.2rem;
}

.modal__callback-text {
  font-size: 1.4rem;
  line-height: 1.2;
}

.modal__callback-form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.modal__callback-form-input {
  display: block;
  width: 100%;
  border: 1px solid #cbd3d9;
  border-radius: 0.8rem;
  background: #ffffff;
  padding: 0 1.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  height: 3.8rem;
  transition: border-color 0.2s;

  &:focus {
    border-color: var(--light-green);
  }

  &::placeholder {
    color: #6f6f6f;
  }
}

textarea.modal__callback-form-input {
  flex-grow: 1;
  height: 10rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  @include breakpoint(mobile) {
    height: 8.8rem;
  }
}

.modal__callback-policy {
  margin-top: 1rem;
}

.modal__callback-policy-checkbox {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  user-select: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
  }
  a {
    color: var(--primary-color);
    text-decoration: underline;
    transition: text-decoration-color 0.2s;
    &:link,
    &:visited {
      color: var(--primary-color);
    }

    @media (hover: hover) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.modal__callback-policy-checkbox-input {
  display: none;
}

.modal__callback-policy-checkbox-mark {
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  display: grid;
  place-items: center;
  border: 1px solid #cbd3d9;
  border-radius: 0.8rem;
  background: #ffffff;

  svg {
    width: 100%;
    height: 100%;
    fill: var(--primary-color);
    transition: opacity 0.2s;
    opacity: 0;
  }
}

.modal__callback-policy-checkbox-input:checked
  ~ .modal__callback-policy-checkbox-mark {
  svg {
    opacity: 1;
  }
}

.modal__callback-submit {
  margin-top: 2.5rem;
  display: block;
  text-align: center;
  padding: 1.8rem 5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  border: 2px solid var(--light-green);
  border-radius: 8rem;
  align-self: center;
  transition: background-color 0.2s, color 0.2s;

  @include breakpoint(mobile) {
    align-self: center;
    margin-top: 2.4rem;
    padding: 1.8rem 5rem;
    align-self: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    align-self: center;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--light-green);
      color: white;
    }
  }
}

.modal__callback-form {
  display: flex;
  flex-direction: column;
}

.modal__register-btns {
  margin-top: 2.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.modal__register-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-offset: 1px;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
  }
  &:link,
  &:visited {
    color: var(--primary-color);
  }
}

.modal__dish-modal {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;

  @include breakpoint(mobile) {
    padding: 1.4rem;
    padding-top: 4.4rem;
    padding-bottom: 4rem;
  }
}

.modal__dish-modal-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  margin-bottom: 1.6rem;
  text-align: center;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 120%;
  }
}

.modal__dish-modal-image-wrapper {
  position: relative;
  aspect-ratio: 414 / 239;
  margin-bottom: 1.9rem;
  overflow: hidden;
  border-radius: 0.8rem;

  @include breakpoint(mobile) {
    aspect-ratio: 268 / 155;
    margin-bottom: 1.6rem;
  }
}

.modal__dish-modal-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__dish-modal-row {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: space-between;

  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: stretch;
  }
}

.modal__dish-modal-text-content {
  display: flex;
  flex-direction: column;
  width: 30%;
  flex-grow: 1;
  @include breakpoint(mobile) {
    width: auto;
    flex-grow: 0;
  }
}

.modal__dish-modal-name {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 140%;
  margin-bottom: 0.4rem;

  @include breakpoint(mobile) {
  }
}

.modal__dish-modal-ingredients {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
  color: #151716;
  margin-bottom: 0.8rem;
}

.modal__dish-modal-components {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #6f6f6f;
  line-height: 140%;
}

.modal__dish-modal-add-to-cart {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  grid-template-areas: "stack";
  margin-top: 1.2rem;

  @include breakpoint(mobile) {
    margin-top: 0.8rem;
  }
}

.modal__dish-modal-add-to-cart-btn {
  align-self: center;
  justify-self: flex-start;
  padding: 1rem 3rem;
  background: #ffffff;
  border: 1px solid #00630a;
  border-radius: 3rem;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, opacity 0.2s,
    visibility 0.2s;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: #151716;
  line-height: 120%;
  white-space: nowrap;
  user-select: none;
  grid-area: stack;
  @include breakpoint(mobile) {
    // padding: 0.7rem 1.8rem;
    // border: 1px solid #007c0c;
    // border-radius: 3rem;
    // align-self: center;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #00630a;
      color: white;
    }
  }

  .modal__dish-modal-add-to-cart.active & {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
  }
}

.modal__dish-modal-add-to-cart-counter-wrapper {
  grid-area: stack;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;

  @include breakpoint(mobile) {
    // align-self: center;

    // .counter {
    //   width: 6.5rem;

    //   padding: 0.2rem 0.7rem;
    // }
  }

  .modal__dish-modal-add-to-cart.active & {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.2s, visibility 0.2s;
  }
}

.modal__dish-modal-add-to-cart-counter-submit {
  flex-shrink: 0;
  width: 5rem;
  height: 3.8rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  display: grid;
  place-items: center;
  transition: background-color 0.2s;
  svg {
    width: 1.74rem;
    height: 1.2rem;
    fill: white;
  }

  // @include breakpoint(mobile) {
  //   width: 3.5rem;
  //   height: 3rem;

  //   svg {
  //     width: 1.6rem;
  //     height: 1rem;
  //   }
  // }
}

.modal__dish-modal-tags {
  flex-shrink: 0;

  @include breakpoint(mobile) {
    display: none;
  }
}

.modal__dish-modal-tags-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal__dish-modal-tags-list-item {
  flex-shrink: 0;
}

.modal__dish-modal-tag {
  flex-shrink: 0;
  width: 1.4rem;
  height: 1.4rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #00630a;
  }
}
