.useful-articles {
  margin-bottom: 7.6rem;

  @include blockWrapper;

  @include breakpoint(small-tablet) {
    margin-bottom: 6rem;
  }
  @include breakpoint(mobile) {
    margin-bottom: 3.7rem;
  }
}

.useful-articles__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.useful-articles__slider {
  padding-top: 5.8rem;

  @include breakpoint(mobile) {
    padding-top: 2.4rem;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .swiper {
    overflow: visible;

    @include breakpoint(mobile) {
      overflow: hidden;
    }
  }

  .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @include breakpoint(small-tablet) {
      &:not(:nth-child(-n + 3)) {
        display: none;
      }
    }

    @include breakpoint(mobile) {
      &:not(:nth-child(-n + 3)) {
        display: flex;
      }
    }
  }

  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 3rem;

    @include breakpoint(small-tablet) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 3.6rem;
    }

    @include breakpoint(mobile) {
      display: flex;
      grid-gap: unset;
    }
  }
}

.useful-articles__card {
  display: flex;
  flex-direction: column;

  @media (hover: hover) {
    &:hover {
      .useful-articles__card-title {
        color: var(--primary-color);
        text-decoration-color: var(--primary-color);
      }
    }
  }
}

.useful-articles__card-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;

  &::before {
    content: "";
    display: block;
    padding-bottom: 78.7%;
  }
}

.useful-articles__card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.useful-articles__card-date {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 160%;
  color: #6f6f6f;
  margin-top: 1.5rem;
}

.useful-articles__card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 140%;
  margin-top: 0.4rem;
  transition: color 0.2s, text-decoration-color 0.2s;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.useful-articles__card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 160%;
  margin-top: 1rem;
}

.useful-articles__more-link {
  align-self: center;
  margin-top: 5.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  padding: 1.7rem 5rem;
  border: 2px solid var(--primary-color);
  border-radius: 3rem;
  text-align: center;
  display: block;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
}

.useful-articles__slider-arrow {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    margin-top: 29%;
    transform: translateY(-50%);

    svg {
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
}

.useful-articles__slider-wrapper {
  @include breakpoint(mobile) {
    width: 30%;
    flex-grow: 1;
  }
}
