.why-us {
  @include blockWrapper;

  padding-top: 6.6rem;
  padding-bottom: 9rem;
  background-color: #8cc842;
  color: white;

  @include breakpoint(small-tablet) {
    padding-top: 4.6rem;
    padding-bottom: 4.8rem;
  }

  @include breakpoint(mobile) {
    padding-top: 4.3rem;
    padding-bottom: 4rem;
  }
}

.why-us__content {
  @include blockContent;
}

.why-us__heading {
  position: relative;
  padding-bottom: 2.7rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6.5rem;

  @include breakpoint(small-tablet) {
    margin-bottom: 2rem;
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 2.8rem;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    height: 0.3rem;
    background-color: white;
    width: 9rem;
  }
}

.why-us__list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 3rem;

  @include breakpoint(small-tablet) {
    grid-gap: 1rem;
  }

  @include breakpoint(mobile) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

.why-us__list-item {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    width: calc(50% - 2rem / 2);
  }
}

.why-us__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.9rem;
}

.why-us__card-amount {
  width: auto;
  height: 12.5rem;
  position: relative;
  display: grid;
  place-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 8rem;
  line-height: 140%;
  align-self: center;
  z-index: 1;

  @include breakpoint(small-tablet) {
    font-style: normal;
    font-weight: 500;
    font-size: 6rem;
    line-height: 140%;
  }

  @include breakpoint(mobile) {
    height: 10rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    z-index: -1;
    pointer-events: none;
    border: 1rem solid #70b437;
    border-radius: 50%;

    @include breakpoint(small-tablet) {
      height: 8rem;
      width: 8rem;
      border: 0.8rem solid #70b437;
    }
  }
}

.why-us__card-text {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  max-width: 80%;
  align-self: center;
  @include breakpoint(small-tablet) {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 120%;
    max-width: none;
  }
}

.why-us__card-amount-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 140%;
  margin-top: -3rem;

  @include breakpoint(mobile) {
    margin-top: -4rem;
  }

  @include breakpoint(mobile) {
    margin-top: -1.8rem;
  }
}
